.empty-cart-content a,
button#payment-data-submit {
  color: #fff !important;
  font: bold 16px "Raleway", sans-serif;
  padding: 15px 29px;
  border-radius: 3px;
  display: table;
  background: #db6885 !important;
  text-decoration: none !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.empty-cart-content a:hover,
button#payment-data-submit:hover {
  opacity: 0.7;
}
.item-link-remove {
  padding: 0;
}
/*===================================
=            Definitions            =
===================================*/
.summary .coupon a,
.checkout-container p.submit button {
  color: #fff !important;
  font: bold 12px "Raleway", sans-serif;
  padding: 13px 16px;
  border-radius: 3px;
  display: table;
  background: #db6885 !important;
  text-decoration: none !important;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.summary .coupon a:hover,
.checkout-container p.submit button:hover {
  opacity: 0.7;
}

.cart-links span.btn-place-order-wrapper a {
  color: #fff !important;
  font: bold 12px "Raleway", sans-serif;
  padding: 17px 40px;
  border-radius: 3px;
  display: table;
  background: #5ec59b !important;
  text-decoration: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.cart-links span.btn-place-order-wrapper a:hover {
  opacity: 0.7;
}

.checkout-container .link-cart a {
  color: #fff !important;
  font: bold 12px "Raleway", sans-serif;
  padding: 8px 11px;
  border-radius: 3px;
  display: table;
  background: #9ebae1 !important;
  text-decoration: none !important;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.checkout-container .link-cart a:hover {
  opacity: 0.7;
}

.summary-template-holder {
  border: none !important;
}

/*=======================================
=            Header Checkout            =
=======================================*/
header.header-checkout {
  background: #9ebae1;
  border-bottom: solid 10px #db6885;
  margin-bottom: 65px;
  /* Main Logo */
}
header.header-checkout h1 {
  font: bold 23px "Raleway", sans-serif;
  color: #fff;
  padding: 63px 0 20px;
  margin: 0 !important;
}
header.header-checkout #main-logo {
  background: url(../images/checkout/logo-checkout.jpg) no-repeat;
  width: 228px;
  padding-top: 1px;
  position: absolute;
  left: 50%;
  top: 22px;
  margin-left: -114px;
  z-index: 103;
  height: 0;
  display: block;
}

/*=======================================
=            Footer Checkout            =
=======================================*/
footer.footer-checkout {
  background: #9ebae1 url(../images/footer/footer-pattern.jpg) repeat;
  /* white footer */
}
footer.footer-checkout .payment,
footer.footer-checkout .footer-checkout-certificados {
  width: 33%;
  float: left;
}
footer.footer-checkout .payment ul,
footer.footer-checkout .footer-checkout-certificados ul {
  margin: 0;
}
footer.footer-checkout .legal,
footer.footer-checkout .footer-checkout-disclaimer {
  width: 65%;
  float: left;
  margin-left: 2%;
}
footer.footer-checkout .pattern-footer {
  padding: 25px 0;
  /* Certificados */
  /* Disclaimer */
}
footer.footer-checkout .pattern-footer .footer-checkout-certificados h4 {
  font: bold 15px "Raleway", sans-serif;
  color: #fff;
  margin: 0 0 14px;
}
footer.footer-checkout .pattern-footer .footer-checkout-certificados img {
  margin-right: 20px;
}
footer.footer-checkout .pattern-footer .footer-checkout-certificados img:last-child {
  margin-right: 0;
}
footer.footer-checkout .pattern-footer .footer-checkout-disclaimer {
  font: normal 14px/1.4em "Raleway", sans-serif;
  color: #fff;
}
footer.footer-checkout .white-footer {
  padding: 30px 0;
  background: #fff;
}
footer.footer-checkout .white-footer li {
  list-style-type: none;
  display: inline-block;
  margin: 0 3px;
  padding-top: 3px;
}
footer.footer-checkout .white-footer li a {
  font-size: 17px;
  color: #9ebae1;
  margin: 0 5px;
}
footer.footer-checkout .white-footer small {
  font: normal 10px/1.1em "Lora", serif;
  color: #6782a6;
  display: inline-flex;
}

/*=============================
=            Title            =
=============================*/
h1 {
  color: #db6885;
  font: normal 32px "Raleway", sans-serif;
  margin: 0 0 28px;
}

/*Banner no Carrinho
h1#cart-title {
  background: url(/arquivos/greve_anyany_945x140.gif) no-repeat;
  height: 140px;
}*/

/*=============================
=            Rodape         =
=============================*/
.nosebit {
  color: #db6885;
  font: normal 16px "Raleway", sans-serif, sans-serif;
}

/*===================================
=            <hr> remove            =
===================================*/
.container > hr + div {
  display: none;
}

/*============================
=            Cart            =
============================*/
.cart {
  border: none;
  padding: 0;
}
.cart img {
  border-radius: 1px;
  width: 179px !important;
  height: auto !important;
  max-width: 100%;
}
.cart table.cart-items thead {
  background: #9ebae1;
}
.cart table.cart-items thead tr th {
  color: #fff;
  font: bold 14.5px "Raleway", sans-serif;
  height: 48px;
  vertical-align: middle;
  padding: 0;
}
.cart table.cart-items thead tr th:first-child {
  padding-left: 25px;
}
.cart table.cart-items tbody tr {
  height: 215px;
  padding: 25px 0;
  border-bottom: solid 1px #eaeaea;
}
.cart table.cart-items tbody tr td.product-image {
  width: 179px;
}
.cart table.cart-items tbody tr td.product-name {
  width: 270px;
}
.cart table.cart-items tbody tr td.product-name a {
  color: #db6885;
  font: bold 16px/1.6em "Raleway", sans-serif;
}
.cart table.cart-items tbody tr td.product-name .brand span {
  font: normal 13px/1.4em "Raleway", sans-serif;
  color: #adadad;
}
.cart table.cart-items tbody tr td.product-name .brand span.brand-name {
  display: none;
}
.cart table.cart-items tbody tr td.product-name small {
  display: none;
}
.cart table.cart-items tbody tr td.product-name span.specs {
  font: normal 14px/1.4em "Raleway", sans-serif;
  color: #adadad;
}
.cart table.cart-items tbody tr td.shipping-date span {
  font: normal 16px/1.4em "Raleway", sans-serif;
  color: #6b6b6b;
}
.cart table.cart-items tbody tr td.product-price {
  text-align: left;
}
.cart table.cart-items tbody tr td.product-price span.list-price span,
.cart table.cart-items tbody tr td.product-price span.list-price del {
  font: normal 12px "Raleway", sans-serif;
  color: #a1a1a1;
}
.cart table.cart-items tbody tr td.product-price span.best-price {
  font: normal 12px "Raleway", sans-serif;
  color: #6b6b6b;
}
.cart table.cart-items tbody tr td.product-price span.best-price span.new-product-price {
  font-size: 16px;
}
.cart table.cart-items tbody tr td.quantity-price span {
  font: normal 16px "Raleway", sans-serif;
  color: #6b6b6b;
}

/* Sumary */
.summary {
  border-bottom: solid 1px #eaeaea;
  margin-bottom: 20px;
  /* forms */
}

/* Summary */
.cart-totalizers tbody,
.cart-totalizers tfoot {
  border: none !important;
}
.cart-totalizers tbody tr,
.cart-totalizers tfoot tr {
  border: none !important;
}
.cart-totalizers tbody tr td.info,
.cart-totalizers tfoot tr td.info {
  font: bold 14px "Raleway", sans-serif;
  color: #666;
  text-align: left !important;
  width: 50px;
}
.cart-totalizers tbody tr td.monetary,
.cart-totalizers tfoot tr td.monetary {
  font: bold 16px "Raleway", sans-serif;
  color: #666;
  text-align: left !important;
}
.cart-totalizers tbody tr td.monetary a,
.cart-totalizers tfoot tr td.monetary a {
  /* @extend %small-button;
        display: inline-block; */
  font: bold 14px "Raleway", sans-serif;
  color: #666;
  text-decoration: underline;
}

/* Cart Links */
.cart-links span.link-choose-more-products-wrapper a {
  color: #fff !important;
  font: bold 12px "Raleway", sans-serif;
  padding: 16px 19px;
  border-radius: 3px;
  background: #b1b1b1 !important;
  text-decoration: none !important;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /*font: bold 14px $raleway;
  color: #666;
  text-decoration: underline;*/
}
.cart-links span.btn-place-order-wrapper a {
  display: inline-block;
}

/*==================================
=            Empty Cart            =
==================================*/
.summary-template-holder {
  border: none !important;
}

.empty-cart-content {
  text-align: center;
  padding-top: 210px;
  background: url(../arquivos/empty-cart-icon.png) no-repeat top center;
}
.empty-cart-content h2 {
  font: normal 32px "Lora", serif;
  color: #9ebae1;
  margin: 0 0 24px;
}
.empty-cart-content p {
  color: #a9a9a9;
  font: italic normal 14px/1.5em "Lora", serif;
  margin-bottom: 30px;
}
.empty-cart-content a {
  border: none !important;
  margin: 0 auto;
}
.empty-cart-content a:hover {
  color: white !important;
  background: #db6885 !important;
}

/*================================
=            Checkout            =
================================*/
.checkout-container {
  /* i{
  	display: none;
  } */
  /* Cart Template */
}
.checkout-container .accordion-heading {
  margin-bottom: 15px;
}
.checkout-container .accordion-heading span {
  font: normal 26px "Raleway", sans-serif;
  color: #db6885;
  padding: 0 5px 15px;
  border-bottom: solid 1px #fbfbfb;
}
.checkout-container .cart-template h2 {
  font: normal 26px "Raleway", sans-serif;
  color: #db6885;
  padding: 0 5px 15px;
}
.checkout-container .accordion-inner {
  padding: 0 9px;
}
.checkout-container p {
  color: #b6b6b6;
  font: normal 14px/1.3em "Lora", serif;
  margin-bottom: 15px;
}
.checkout-container label,
.checkout-container a#email-suggestion-address,
.checkout-container .box-client-info-pj a {
  font: bold 12px "Lora", serif;
  color: #db6885 !important;
  margin-bottom: 3px;
}
.checkout-container .box-client-info-pj a {
  color: #818080 !important;
}
.checkout-container .newsletter label span {
  font: normal 13px "Lora", serif;
  color: #818080 !important;
  vertical-align: sub;
}
.checkout-container p.submit button {
  margin: 0 auto;
}
.checkout-container .mini-cart .cart-fixed {
  border: 3px solid #f4f4f4;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  height: auto !important;
  min-height: 0px;
}
.checkout-container .mini-cart .item {
  border: none;
  padding: 15px 31px;
}
.checkout-container .mini-cart .item span.quantity {
  display: none;
}
.checkout-container .mini-cart .item span.product-name {
  color: #838383;
  font: bold 16px "Raleway", sans-serif;
  margin: 6px 0 0 5px;
}
.checkout-container .mini-cart .item span.shipping-date {
  display: none !important;
}
.checkout-container .mini-cart .item a {
  border: solid 1px #e7e7e7;
  margin-top: -3px;
}
.checkout-container .mini-cart .item .description {
  margin: 0;
}
.checkout-container .mini-cart .item .description span,
.checkout-container .mini-cart .item .description strong {
  float: left !important;
  font: normal 11px "Open Sans", sans-serif;
  margin: 3px 7px;
}
.checkout-container input.required,
.checkout-container select.required,
.checkout-container input.required:focus,
.checkout-container select.required:focus,
.checkout-container input.error,
.checkout-container select.error {
  border-color: #db6885 !important;
}
.checkout-container span.error {
  font: normal 12px "Lora", serif;
}
.checkout-container .link-cart {
  float: none !important;
  background: #f8f8f8;
  margin: 0 -5px;
  padding: 10px;
}
.checkout-container .summary-template-holder {
  margin: 0 -5px -5px;
  width: auto !important;
}
.checkout-container .summary-template-holder .summary {
  margin-bottom: 0;
  border: none;
}
.checkout-container .summary-template-holder .summary tr td {
  background: #fff;
  padding: 0;
  font: normal 16px "Raleway", sans-serif !important;
  color: #838383;
  height: 23px;
}
.checkout-container .summary-template-holder .summary tr td.monetary {
  font-weight: bold !important;
  text-align: right !important;
}
.checkout-container .summary-template-holder .summary tfoot tr {
  border-top: solid 1px #f0f0f0 !important;
}
.checkout-container .summary-template-holder a.link-coupon-add span {
  margin: 0 1px;
}

/*================================
=            Shipment            =
================================*/
#shipping-data p.cancel-address-form a,
#shipping-data p.ship-filled-data a {
  font: normal 13px "Lora", serif;
  color: #555;
}
#shipping-data fieldset.shipping-options {
  margin-bottom: 25px;
}
#shipping-data fieldset.shipping-options h4 {
  color: #db6885;
  font: bold 14px "Lora", serif;
  margin: 0;
}
#shipping-data fieldset.shipping-options .sla-items-list label {
  background: #fff url(../images/checkout/label-bg.jpg) no-repeat right -39px;
  border: none;
  box-shadow: none;
  font: normal 12px/1em "Raleway", sans-serif;
  padding: 15px 0;
  border-bottom: solid 1px #ececec;
  margin-bottom: 0;
}
#shipping-data fieldset.shipping-options .sla-items-list label.active {
  background-position: right 25px;
}
#shipping-data fieldset.shipping-options .sla-items-list label .shipping-option-item-sep {
  display: none;
}
#shipping-data fieldset.shipping-options .sla-items-list label .shipping-option-item-name,
#shipping-data fieldset.shipping-options .sla-items-list label .shipping-option-item-value {
  color: #555;
}
#shipping-data fieldset.shipping-options .sla-items-list label .shipping-option-item-value {
  margin-left: 5px;
}
#shipping-data fieldset.shipping-options .sla-items-list label .shipping-option-item-time {
  display: block;
  margin-top: 10px;
  color: #db6885;
}

/*===================================
=            Payment box            =
===================================*/
.cart-template .link-cart {
  text-align: center;
  background: #fff !important;
}
.cart-template .link-cart small {
  display: inline-block;
}
.cart-template .payment-confirmation-wrap {
  padding: 0;
  position: static !important;
}

/*===================================
=            Payment box            =
===================================*/
body.body-order-placed a#bannerEbit {
  display: block;
  text-align: center;
  padding: 20px 0 0;
}

/*===================================
=            Responsible            =
===================================*/
@media screen and (max-width: 767px) {
  .cart-links span.link-choose-more-products-wrapper a {
    display: inline-block;
  }

  footer .container {
    padding: 0 15px;
  }

  header.header-checkout,
  footer.footer-checkout {
    margin-left: -25px;
    margin-right: -25px;
  }

  .empty-cart-content {
    margin-top: 25px;
  }

  /* Header Checkout */
  header.header-checkout h1 {
    text-indent: -9999px;
  }

  /* Footer Checkout */
  .footer-checkout-certificados {
    margin-bottom: 20px;
  }

  .legal,
  .footer-checkout-disclaimer,
  .payment,
  .footer-checkout-certificados {
    float: none;
    width: auto !important;
    margin: 5px auto !important;
  }
}
@media screen and (max-width: 490px) {
  header.header-checkout,
  footer.footer-checkout {
    margin-left: -15px;
    margin-right: -15px;
  }

  .cart table.cart-items tbody tr {
    height: auto;
  }
  .cart table.cart-items td.product-image {
    width: 55px !important;
  }

  .summary-coupon {
    float: none !important;
    width: auto !important;
  }
  .summary-coupon .coupon-data {
    float: none;
    width: auto;
  }
  .summary-coupon .coupon-data a {
    width: auto;
    display: block;
    text-align: center;
  }
}

/*# sourceMappingURL=checkout-custom.css.map */

/*BARRA FRETE*/
.bg_black {
  background-color: black;
  color: white;
  padding: 5px 0 4px;
  display:block!important;
}

@media screen and (max-width: 812px) {
  .bg_black {
    margin-left: -11px;
    margin-right: -11px;
  }
}
.bg_black #barra_frete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1045px;
  margin: 0 auto;
}
.bg_black #barra_frete p {
  margin-bottom:0;
}
.bg_black #barra_frete .message_success,
.bg_black #barra_frete.success .column-1 .message_default {
  display: none;
}
.bg_black #barra_frete.success .column-1 .message_success {
  display: block;
}
.bg_black #barra_frete.success .column-2 .barra {
  background-color: #00ac5a;
}
.bg_black #barra_frete.success .column-2 .barra span {
  width: 100% !important;
}
.bg_black #barra_frete .column-1,
.bg_black #barra_frete .column-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 812px) {
  .bg_black #barra_frete .column-1,
  .bg_black #barra_frete .column-2 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 812px) {
  .bg_black #barra_frete .column-1 {
    margin-bottom: 7px;
  }
}
.bg_black #barra_frete .column-1 p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media screen and (max-width: 340px) {
  .bg_black #barra_frete .column-1 p {
    font-size: 10px;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 340px) and (max-width: 812px) {
  .bg_black #barra_frete .column-1 p {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
.bg_black #barra_frete .column-2 .barra {
  width: 320px;
  height: 15px;
  position: relative;
  border: 1px solid white;
  transition: background-color 300ms;
  background-color: #9ebae0;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 15px;
}
@media screen and (max-width: 812px) {
  .bg_black #barra_frete .column-2 .barra {
    height: 12px;
  }
}
@media screen and (max-width: 340px) {
  .bg_black #barra_frete .column-2 .barra {
    width:250px;
  }
}
.bg_black #barra_frete .column-2 .barra span {
  position: absolute;
  top: -1px;
  right: 0;
  width: 100%;
  height: 15px;
  display: block;
  transition: width 300ms;
  background-color: black;
}
.bg_black #barra_frete .column-2 img {
  height: 16px;
  max-width: 22px;
  margin-top: 1px;
}

/*MESSAGE*/
#message_frete {
  width: 415px;
  height: 25px;
  line-height: 25px;
  display: none;
  margin: 0 10px;
  font-size: 13px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid steelblue;
  background-color: #dfe9f5;
  text-transform: uppercase;
  position: relative;
  float: right;
  bottom: -30px;
}
@media screen and (max-width: 812px) {
  #message_frete {
    width:100%;
    float:none;
    margin:0 0 15px 0;
    bottom:0;
  }
}
@media screen and (max-width: 340px) {
  #message_frete {
    font-size:9px;
  }
} 
#message_frete p {
  margin-bottom: 0;
}
@media screen and (max-width: 812px) {
  #message_frete p {
    font-size: 11px;
  }
}
@media screen and (max-width: 340px) {
  #message_frete p {
    font-size: 9px;
  }
}
#message_frete.success {
  background: #edf3f1;
  color: green;
  border: 1px solid green;
}
#message_frete .message_success,
#message_frete.success .message_default {
  display: none;
}
#message_frete.success .message_success {
  display: block !important;
}
/*FIM - BARRA FRETE*/
