.account {
	#account-content {
		.profile-detail-display,
		.address-display-block {
			line-height: 25px;

			h4 {
				font-size: 30px;
				margin-bottom: 10px;
			}

			.new-address-link,
			.edit-profile-link {
				font-weight: bold;
				color: $cor-principal;
			}

			.address-display-unit {
				margin-left: 15px;
			} 
		}
	}
}

.orders {
	img {
		max-width: initial;
	}
}