.bread-crumb {
    ul {
        display: flex;
        text-transform: uppercase;
        font-size: 10px;

        li {
            &:after {
                content: '\203A';
                margin: 0 15px;
                font-size: 14px;
            }

            &:last-child {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}