.departamento {
	main {
		.banner_depto {
			.box-banner {
				overflow: hidden;

				img {
					@media screen and (min-width:$mobile) {
						position: relative;
						left: 50%;
						margin-left: -960px;
					}
	
					@media screen and (max-width:$mobile) {
						width: 100%;
						height: auto;
					}
				}
			}
		}

		.titulo-sessao {
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 400;
		}

		.description_depto {
			color: #acaaaa;
			margin-bottom: 30px;
			line-height: 13px;
			font-size: 12px;	
			font-weight: 400;
		}

		.bt-refinar-container {
			display: none;
		}

		//BUSCA VAZIA
		.busca-vazio {
			text-align: center;
			color: $cor-principal;
			font-weight: bold;

			@media screen and (min-width:$mobile) {
				font-size: 18px;
			}
		}

		//BUSCA VAZIA
		.menu-departamento {
			h3 {
				display: inline-block;
				font-size: 18px;
				font-weight: 400;
				text-transform: uppercase;
				margin-right: 20px;
				margin-bottom: 20px;

				@media screen and (max-width:$mobile) {
					width: 100%;
					margin-bottom: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #dcdcdc;
				}

				& + ul {
					display: none;
				}
			}
		}

		.main {
			@media screen and (min-width:$mobile) {
				margin-top: -29px;
			}

			.sub {
				float: left;

				@media screen and (max-width:$mobile) {
					width: 46%;
				}
			}
			
			.open_filtro {
				@media screen and (max-width:$mobile) {
					width: 25%;
					text-transform: uppercase;
					font-weight: bold;
					text-align: right;
					float: right;
					color: $cor-principal;
					font-size: 14px;
					line-height: 23px;

					&:before {
						width: 15px;
						height: 11px;
						background-image: url(/arquivos/ico-filtrar.png);
						background-repeat: no-repeat;
						content: '';
						display: inline-block;
						margin-right: 5px;
					}
				}

				@media screen and (max-width:$iphone5) {
					font-size: 12px!important;
				}
			}

			.searchResultsTime {
				width: 100px;
				float: left;
				margin-left: calc(100% - 362px);
				border-right: 1px solid #dcdcdc;
				margin-right: 10px;

				@media screen and (max-width:$mobile) {
					width: 27%;
					margin-left: 0;
					margin-right: 0;
					line-height: 23px;
				}

				@media screen and (max-width:$iphone5) {
					font-size: 12px!important;
				}

				.resultado-busca-termo,
				.resultado-busca-tempo {
					display: none;
				}

				.resultado-busca-numero {
					.label {
						display: none;
					}

					.value {
						font-weight: bold;

						&:after {
							font-weight: 400;
							content: 'Produtos';
							margin-left: 5px;
						}
					}
				}
			}

			.resultado-busca-filtro {
				.orderBy {
					position: relative;
					z-index: 1;

					label {
						float:left;
						margin-right: 7px;

						@media screen and (max-width:$mobile) {
							display: none;
						}
					}

					select {
						float:left;
						border-bottom: 1px solid black;
						border-top: 0;
						border-right: 0;
						border-left: 0;
						font-weight: bold;
						font-size: 14px;
						padding-bottom: 5px;
						-webkit-appearance: menulist-button;
						background-color: white;

						@media screen and (max-width:$mobile) {
							border: none;
							-webkit-appearance: none;
							font-weight: 400;
							padding: 0;
							padding-bottom: 0;
							background-color: white;
							background-image: url(/arquivos/ico-orderby.png);
							background-position: 3px 4px;
							background-repeat: no-repeat;
							color: #666;
							font-size: 14px;
							border-right: 1px solid #dcdcdc;
							width: 100%;
							line-height: 23px;
							text-indent: 22px;
						}

						@media screen and (max-width:$iphone5) {
							font-size: 12px!important;
						}
					}
				}

				.filterBy,
				.compare {
					display: none;
				}
			}

			.vitrine {
				clear: both;
				padding-top: 30px;

				.prateleira {
					@media screen and (min-width:$mobile) {
						margin-left: -2.5px;
						margin-right: -2.5px;
					}

					ul {
						display: flex;
						flex-wrap: wrap;
						
						li {
							margin: 0 2.5px 50px 2.5px;
							width: calc(100% / 4 - 5px);

							@media screen and (max-width:$mobile) {
								width: 100%;
								margin: 0 0 30px 0;
							}
						}
					}
				}

				& + .searchResultsTime {
					display: none;

					& + .sub {
						display: none;

						& + .open_filtro {
							display: none;
						}
					}
				}
			}

			.pager {display: none!important;}
		}

		.menu-navegue {
			display: none;
		}

		.search-multiple-navigator {
			display: flex!important;
			flex-wrap: wrap;
			position: relative;
			z-index: 1;

			@media screen and (max-width:$mobile) {
				position: fixed;
				top: -100%;
				left: 0;
				background-color: white;
				width: 100%;
				padding: 25px 15px 0 15px;
				flex-direction: column;
				transition: top 300ms;
				z-index: 12;
				max-height: 80%;
				flex-wrap: nowrap;
				overflow-x: hidden;
				overflow-y: scroll;

				&.active {
					top: 0;
				}
			}

			.search-multiple-navigator-footer {
				@media screen and (max-width:$mobile) {
					margin-bottom: 15px;
					margin-top: 35px;

					li {
						float: left;

						&:first-child {
							width: 40%;
						}

						&:last-child {
							width: 60%;
						}

						.btn_cancelar {
							width: 100px;
							height: 35px;
							line-height: 35px;
							text-align: center;
							display: block;
							border: 1px solid #666;
							border-radius: 3px;
						}

						.btn_filtrar {
							width: 100%;
							height: 35px;
							line-height: 35px;
							background-color: $cor-cta;
							text-align: center;
							color: white;
							display: block;
							border-radius: 3px;
							font-weight: bold;
							text-transform: uppercase;
						}
					}
				}
			}

			h3,
			h4,
			.bt-refinar {
				display: none;
			}

			fieldset {
				width: auto;
				margin-right: 3%;
				position: relative;

				&.filtro_estilo,
				&.refino-marca {
					display: none!important;
					visibility: hidden;
					opacity: 0;
				}

				@media screen and (max-width:$mobile) {
					width: 100%;
					margin-right: 0;
					position: relative;
					border-bottom: 1px solid #dcdcdc;
					margin-bottom: 10px;
				}

				@media screen and (min-width:$mobile) {
					&:hover {
						div {
							display: block;
						}
					}
				}

				h5 {
					font-size: 18px;
					font-weight: 400;
					text-transform: uppercase;
					position: relative;
					padding-bottom: 10px;
					cursor: pointer;
					display: flex;

					&.active {
						&:after {
							margin-top: 11px;
							transform: rotate(225deg);
						}
					}

					&:after {
						content: "";
						width: 7px;
						height: 7px;
						display: block;
						transition: all 300ms;
						border-right: 1px solid #000;
						border-bottom: 1px solid #000;
						margin-top: 7px;
						margin-left: 10px;
						transform: rotate(45deg);
					}
				}

				div {
					width: 350px;
					max-height: 200px;
					overflow-y: scroll!important;
					position: absolute;
					z-index: 1;
					background: white;
					padding: 10px 10px 0 10px;
					box-shadow: 0px 0px 8px 0px #dcdcdc;
					display: none;

					@media screen and (max-width:$mobile) {
						width: 100%;
						position: static;
						box-shadow: none;
					}

					.ver-filtros {
						display: block;
						font-size: 0;
						font-weight: 700;
						text-align: center;
						text-transform: uppercase;
						text-decoration: none;
						background-color: $cor-principal;
						color: white;
						height: 40px;
						line-height: 40px;
						border-radius: 3px;
						margin-bottom: 10px;

						&:after {
							content: 'Limpar filtros';
							font-size: 14px;
						}
					}

					&:before {
						content: "";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 5px 10px 5px;
						border-color: transparent transparent #fff transparent;
						position: absolute;
						top: -10px;
						left: 20px;
					}

					label {
						position: relative;
						padding: 5px;
						display: inline-block;
						margin: 0 5px 10px;
						cursor: pointer;
						border: 1px solid #cdcdcd;
						border-radius: 3px;

						&.sr_selected {
							color: #fff;
							z-index: 1;
						}

						input {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							background-color: transparent;
							-webkit-appearance: none;
							transition: all 300ms;
							cursor: pointer;

							&:checked  {
								background-color: $cor-principal;
								z-index: -1;
							}
						}
					}
				}
			}
		}

		.search-single-navigator {
			display: none!important;
			
			//CATEGORIAS - ESTILO N TERMINADO
			h3 {
				display: none;
			}

			h4 {
				font-size: 0;

				&:before {
					content: 'Categorias';
					font-size: 18px;
					font-weight: 400;
					text-transform: uppercase;
					position: relative;
					padding-bottom: 10px;
					cursor: pointer;
					display: flex;
				}

				& + ul {
					width: 350px;
					max-height: 200px;
					overflow-y: scroll!important;
					position: absolute;
					z-index: 1;
					background: #fff;
					padding: 10px 10px 0 10px;
					box-shadow: 0 0 8px 0 #dcdcdc;
					display: flex;
					flex-wrap: wrap;

					li {
						padding: 5px;
						border-radius: 3px;
						border: 1px solid #cdcdcd;
						margin: 0 5px 10px;
						cursor: pointer
					}
				}
			}

			h5 {
				display: none;

				& + ul {
					display: none;
				}
			}
		}
	}

	.btn-load-more {
		width: 200px;
		margin: 0 auto;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		color: white;
		background-color: $cor-cta;
		cursor: pointer;
		text-transform: uppercase;
	}
}

#returnToTop {
	width: 130px;
    height: 40px;
    position: fixed;
    right: 50px;
    bottom: 25px;
	z-index: 2;
	cursor: pointer;

	@media screen and (max-width:$mobile) {
		width: 50px;
		bottom: 85px;
		right: 15px;
	}
	
	.ico {
		width: 50px;
		height: 50px;
		display: inline-block;
		background-image: url(/arquivos/totop.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
	}

	p {
		float: left;
		line-height: 18px;
		font-size: 15px;
		text-transform: uppercase;
		padding-top: 7px;

		@media screen and (max-width:$mobile) {
			display: none;
		}
	}
}