footer {
	@media screen and (max-width:$mobile) {
		padding-bottom: 50px;
	}

	.container {
		&:nth-child(1) {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid black;

			@media screen and (max-width:$mobile) {
				padding-top: 0;
			}
		}
	}

	ul {
		font-weight: 300;
		font-size: 13px;

		li {
			margin-bottom: 7px;
		}
	}

	.ft-title {
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	.row-1 {
		.menu-footer {
			@media screen and (max-width:$mobile) {
				margin-bottom: 25px;
				padding: 0;
				border-bottom: 1px solid #dcdcdc;

				p {
					text-align: center;
					padding: 10px 0;
					margin: 0;
					font-size: 18px;

					&:before {
						content: '+';
						margin-right: 5px;
					}

					& + ul {
						display: none;
						text-align: center;
						padding-bottom: 15px;
					}
				}
			}
		}
	}

	.row-2 {
		.redes {
			display: flex;

			li {
				width: 30px;
				line-height: 30px;
				margin-right: 7px;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}

		.newsletter {
			@media screen and (max-width:$mobile) {
				margin-top: 40px;
			}

			h3 { display: none; }

			fieldset {
				label {
					em,
					br {
						display: none;
					}
				}

				p {
					font-size: 0;

					@media screen and (max-width:$mobile) {
						text-align: center;
					}

					&:after {
						content: 'Assine nossa newsletter :)';
						display: block;
						font-size: 14px;
						font-weight: 400;
						margin-bottom: 15px;
						text-transform: uppercase;
					}
				}

				input[type="text"] {
					width: 100%;
					height: 30px;
					font-style: italic;
					text-indent: 2px;
					color: #a3a3a3;
					border-bottom: 1px solid #a3a3a3;
					margin-bottom: 15px;
					-webkit-appearance: none;
				}

				input[type="button"] {
					width: 110px;
					height: 30px;
					float: right;
					border: 2px solid $cor-principal;
					border-radius: 3px;
					font-weight: bold;
					font-size: 14px;
					background: white;
					color: $cor-principal;
					text-transform: uppercase;
					cursor: pointer;
					-webkit-appearance: none;
				}
			}
		}
	}

	.row-3 {
		margin-top: 40px;

		@media screen and (max-width:$mobile) {
			text-align: center;
		}

		.selos {
			display: flex;

			@media screen and (max-width:$mobile) {
				justify-content: center;
			}

			li {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.bandeiras {
			display: flex;

			@media screen and (max-width:$mobile) {
				margin-bottom: 40px;
				justify-content: center;
			}

			li {
				width: 40px;
				height: 30px;
				margin-right: 7px;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.copyright {
		border-top: 1px solid #dcdcdc;
		margin-top: 20px;
		padding:20px 0;

		.container {
			margin-top: 0;
			border-top: 0;
			padding-top: 0;
		}
		
		p {
			font-size: 13px;
			font-weight: 300;

			@media screen and (max-width:$mobile) {
				text-align: center;
				margin-bottom: 40px;
			}
		}

		.tecnologia {
			display: flex;
			justify-content: flex-end;
			
			@media screen and (max-width:$mobile) {
				justify-content: center;
			}

			li {
				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
}