header {
	@media screen and (max-width: $mobile) {
		padding-bottom: 10px;
	}

	//BARRA DE FRETE
	.row-0 {
		background-color: black;
		color: white;
		padding: 5px 0 4px;
		margin-bottom: 15px;

		@media screen and (max-width:$mobile) {
			margin-bottom: 10px;
		}

		#barra_frete {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			&.success {
				.column-1 {
					.message_default {
						display: none;
					}

					.message_success {
						display: block;
					}
				}

				.column-2 {
					.barra {
						background-color: #00ac5a;

						span {
							width: 0%!important;
						}
					}
				}
			}

			.column-1,
			.column-2 {
				width: 50%;
				display:flex;
				justify-content: center;
				align-content: center;

				@media screen and (max-width:$mobile) {
					width: 100%;
					text-align: center;
				}
			}

			.column-1 {
				@media screen and (max-width:$mobile) {
					margin-bottom: 7px;
				}

				p {
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: 3px;

					@media screen and (max-width:$iphone5) {
						font-size: 10px;
						letter-spacing: 0px;
					}

					@media screen and (min-width:$iphone5) and (max-width:$mobile) {
						font-size: 10px;
						letter-spacing: 1px;
					}
				}
			}

			.column-2 {
				.barra {
					width: 320px;
					height: 15px;
					position: relative;
					border: 1px solid white;
					transition: background-color 300ms;
					background-color: #9ebae0;
					border-radius: 50px;
					overflow: hidden;
					margin-right: 15px;

					@media screen and (max-width:$mobile) {
						height: 12px;
					}
	
					span {
						position: absolute;
						top: -1px;
						right:0;
						width: 100%;
						height: 15px;
						display: block;
						transition: width 300ms;
						background-color:black;
					}
				}
				
				svg {
					margin-top: -5px;

					@media screen and (max-width:$mobile) {
						height: 21px;
					}
				}
			}
		}
	}

	.row-1 {
		background: black;
		text-align: center;
		color: white;
		margin-bottom: 10px;
		font-size: 12px;
		text-transform: uppercase;
		padding: 5px 0;

		p {
			letter-spacing: 3px;

			@media screen and (max-width: $mobile) {
				font-size: 10px;
			}
		}
	}

	.row-2 {
		position: relative;

		@media screen and (max-width: $mobile) {
			overflow: hidden;
		}

		.logo {
			@media screen and (min-width:$mobile){
				text-indent: 21%;
			}
		}

		.hamburger {
			display: none;

			@media screen and (max-width: $mobile) {
				display: block;
				padding-top: 20px;

				span {
					width: 35px;
					height: 3px;
					background-color: $cor-principal;
					display: block;
					margin: 0 auto 7px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.menu-apoio {
			display: flex;
			height: 65px;
			line-height: 65px;
			font-weight: bold;
			color: $cor-principal;

			@media screen and (max-width: $mobile) {
				display: none;
			}

			li {
				&:first-child {
					&:after {
						content: '|';
						font-size: 14px;
						font-weight: 300;
						margin: 0 10px;
					}
				}
			}
		}

		.icones {
			display: flex;
			justify-content: space-between;
			padding-top: 15px;

			@media screen and (max-width: $mobile) {
				margin-left: -15px;
			}

			fieldset.busca {
				width: 250px;

				@media screen and (max-width: $mobile) {
					display: none;
				}

				legend,
				label,
				select {
					display: none;
				}

				input[type="text"] {
					width: 100%;
					height: 37px;
					font-size: 12px;
					border-bottom: 1px solid #d1d1d1;
					color: #535353;
				}

				input[type="button"] {
					float: right;
					width: 35px;
					height: 35px;
					display: block;
					border: none;
					font-size: 0;
					background-color: #fff;
					background-image: url(/arquivos/ico-lupa.png);
					background-repeat: no-repeat;
					margin-top: -36px;
					background-size: 30px;
					cursor: pointer;
				}
			}

			.ico-account {
				position: relative;
				margin: 0 20px;

				&:hover {
					@media screen and (min-width: $mobile) {
						.box_hover {
							display: block !important;
						}
					}
				}

				.box_hover {
					position: absolute;
					top: 37px;
					right: -10px;
					width: 120px;
					background-color: white;
					box-shadow: 0px 0px 4px 0px #dcdcdc;
					z-index: 1;
					padding: 10px;

					&:after {
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 5px 10px 5px;
						border-color: transparent transparent #ffffff transparent;
						position: absolute;
						top: -10px;
						right: 10px;
					}

					ul {
						li {
							height: 30px;
							line-height: 30px;
							margin-bottom: 5px;

							&:first-child {
								border-bottom: 1px solid #dcdcdc;
							}

							&:last-child {
								margin-bottom: 0;

								a {
									display: block;
									border-radius: 2px;
									background-color: $cor-secundaria;
									color: white;
								}
							}
						}
					}
				}

				@media screen and (max-width: $mobile) {
					display: none;
				}
			}

			.ico-cart {
				position: relative;

				@media screen and (min-width: $mobile) {
					z-index: 12;
				}

				#qty {
					width: 15px;
					height: 15px;
					background-color: $cor-secundaria;
					color: white;
					display: block;
					text-align: center;
					border-radius: 50px;
					font-size: 11px;
					bottom: 0px;
					left: 0px;
					position: absolute;
				}

			}
		}

		.busca-mob {
			@media screen and (max-width: $mobile) {
				width: 85%;
				z-index: 1;
				position: absolute;
				top: 0;
				right: -100%;
				transition: all 300ms;
				background-color: white;

				&.active {
					right: 18%;
				}

				.ico-close {
					width: 15%;
					float: left;
					padding-left: 15px;
					padding-top: 25px;
					text-align: center;
				}

				fieldset.busca {
					width: 75%;
					display: block;
					padding: 20px 0;
					float: right;

					legend,
					label,
					select {
						display: none;
					}

					input[type="text"] {
						width: 96%;
						height: 37px;
						font-size: 12px;
						border-bottom: 1px solid #d1d1d1;
						color: #535353;
					}

					input[type="button"] {
						float: right;
						width: 40px;
						height: 40px;
						display: block;
						border: none;
						font-size: 0;
						background-color: #fff;
						background-image: url(/arquivos/ico-lupa.png);
						background-repeat: no-repeat;
						margin-top: -42px;
						cursor: pointer;
						background-size: 31px;
					}
				}
			}
		}
	}

	.row-3 {
		nav {
			@media screen and (max-width: $mobile) {
				position: fixed;
				z-index: 12;
				width: 80%;
				height: 100%;
				top: 38px;
				left: -100%;
				transition: left 300ms;
				padding-bottom: 60px;
				
				&.active {
					left: 0;
					
					.btn-fechar {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			
			ul {
				display: flex;
				justify-content: space-between;
				padding-top: 15px;
				
				@media screen and (max-width: $mobile) {
					flex-direction: column;
					background-color: white;
					width: 100%;
					height: 100%;
					float: left;
					padding-top: 0;
					overflow: scroll;

					&.dis-flex {
						max-height: 600px;
						overflow: scroll;
					}
				}

				@media screen and (max-width:$iphone5) {
					&.dis-flex {
						max-height: 450px;
					}
				}

				li {
					color: #0c0c0c;

					@media screen and (max-width: $mobile) {
						border-bottom: 1px solid #dcdcdc;

						&:last-child {
							border-bottom: 0;
						}
					}

					@media screen and (min-width:$mobile) {

						//AJUSTA SUBMENU
						&:nth-child(8) {
							span {
								&+div {
									margin-left: -184px;
								}
							}
						}

						//AJUSTA SUBMENU
						&:nth-child(9) {
							span {
								&+div {
									margin-left: -353px;
								}
							}
						}

						//AJUSTA SUBMENU
						&:nth-child(10) {
							span {
								&+div {
									margin-left: -450px;
								}
							}
						}
					}

					&.head,
					&.footer {
						display: none;
					}

					&.head {
						@media screen and (max-width: $mobile) {
							display: block;
							background-color: $cor-principal;
							color: #fff;
							padding: 10px 0;
							margin-bottom: 20px;

							svg {
								width: 30px;
								height: 30px;
								float: left;
								margin-left: 15px;
								position: relative;
								bottom: -4px;
							}

							p {
								text-transform: initial;
							}
						}

						@media screen and (max-width:$iphone5) {
							font-size: 12px;
						}
					}

					&.footer {
						@media screen and (max-width: $mobile) {
							display: flex;
							justify-content: space-between;
							padding: 0 15px;
							margin-top: 10px;

							a {
								width: 48%;
								height: 40px;
								text-indent: initial;
								font-size: 14px;
								font-weight: bold;
								text-transform: initial;
								text-align: center;
								line-height: 40px;
								margin-bottom: 10px;
								color: white;
								background-color: $cor-principal;
								border-radius: 5px;
							}
						}
					}

					a {
						text-transform: uppercase;

						@media screen and (max-width: $mobile) {
							width: 100%;
							display: block;
							height: 40px;
							line-height: 40px;
							text-indent: 15px;

							&:hover {
								color: initial;
							}
						}
					}

					span {
						&:hover {
							@media screen and (min-width: $mobile) {
								a {
									&:after {
										opacity: 1;
									}
								}

								&+div {
									display: block !important;
								}
							}
						}

						//CLASSE USADA NO JS
						&.active {
							@media screen and (min-width: $mobile) {
								color: $cor-principal;

								a {
									&:after {
										opacity: 1;
									}
								}
							}
						}

						a {
							padding-bottom: 2px;
							transition: all 300ms;

							&.active {
								font-weight: bold;
								background-color: #efefef;

								&:before {
									transform: rotate(-135deg);
								}
							}

							&:after {
								content: '';
								width: 100%;
								height: 2px;
								background-color: $cor-principal;
								margin-top: 1.5px;
								display: block;
								opacity: 0;
								transition: opacity 300ms;
							}

							&:before {
								@media screen and (max-width: $mobile) {
									width: 7px;
									height: 7px;
									border-right: 1px solid black;
									border-bottom: 1px solid black;
									content: '';
									float: right;
									margin-right: 15px;
									margin-top: 15px;
									transform: rotate(45deg);
									transition: transform 300ms;
								}
							}
						}

						&+div {
							display: none;
							width: 770px;
							height: 280px;
							position: absolute;
							background-color: white;
							z-index: 3;
							padding: 10px;

							@media screen and (min-width:$mobile) {
								box-shadow: 0px 4px 4px 1px #dcdcdc;
							}

							&:hover {
								display: block;
							}

							@media screen and (max-width:$mobile) {
								position: static;
								width: 100%;
								height: auto;
								padding: 0 10px 0 10px;
							}

							div.list {
								@media screen and (min-width: $mobile) {
									width: 60%;
									float: left;
									padding-top: 20px;
									padding-left: 10%;
									font-size: 12px;

									ul {
										flex-direction: column;

										li {
											margin-bottom: 15px;

											&:last-child {
												margin-bottom: 0;
											}
										}
									}
								}

								@media screen and (max-width:$mobile) {
									padding: 0;
									color: #8b8a8a;
									display: block;
									font-weight: 300;

									ul {
										width: 100% !important;
										overflow: initial!important;
									}

									a {
										text-indent: 15px !important;
									}
								}
							}

							div.image {
								@media screen and (min-width: $mobile) {
									width: 40%;
									float: right;
								}

								@media screen and (max-width:$mobile) {
									display: none;
								}
							}
						}
					}

				}
			}

			span.btn-fechar {
				display: none;

				@media screen and (max-width: $mobile) {
					display: block;
					opacity: 0;
					visibility: hidden;
					position: fixed;
					right: 0;
					width: 20%;
					transition: opacity 300ms;
					height: 60px;
					line-height: 60px;
					text-align: center;
					font-size: 37px;
					background-color: #ededed;
					z-index: 12;
				}
			}
		}
	}
}