.home {
    @media screen and (min-width:$mobile) {
        overflow-x: hidden;
    }
    
    .mid-fullbanner img,
    .fullbanner .slick-list {
        @media screen and (min-width:$mobile) {
            position: relative;
            left: 50%;
            margin-left: -960px;
        }
    }

    main {
        section.of-hidden {
            @media screen and (min-width:$mobile) {
                height: 550px;
            }
        }
        
        .fullbanner {
            @media screen and (max-width:$mobile) {
                &.desktop {
                    display: none;
                }

                &.mobile {
                    display: block;
                    margin-bottom: 30px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .collection_1 {
            .collection-image {
                img {
                    @media screen and (min-width:$mobile) {
                        width: auto;
                        margin: 0 auto;
                        height: 710px;
                        display: block;
                    }
                
                    @media screen and (min-width:$mobile) {
                        margin-top: -30px;
                    }
                }
            }

            .prateleira {
                @media screen and (min-width:$mobile) {
                    padding-top: 20px;
                }

                h2 {
                    @media screen and (max-width:$mobile) {
                        display: none;
                    }
                }
            }
        }

        .collection_2 {
            position: relative;
            margin-top: 15px;
            padding-top: 15px;
            
            @media screen and (max-width:$mobile) {
                padding-top: 7px;

                .col-md-4 {
                    order: 2;
                }
            }

            .collection-image {
                @media screen and (max-width:$mobile) {
                    order: 1;
                    margin-top: 30px;
                    margin-bottom: 60px;
                }

                img {
                    @media screen and (min-width:$mobile) {
                        width: auto;
                        margin: 0 auto;
                        height: 690px;
                        display: block;
                    }
                }
            }

            .prateleira {
                @media screen and (min-width:$mobile) {
                    padding-top: 30px;
                }
            }

        }
        
        .collection_3 {
            .prateleira {
                h2 {
                    text-align: center;
                    margin-bottom: 50px;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    @media screen and (min-width:$mobile) {
                        margin-left: -2.5px;
                        margin-right: -2.5px;
                    }

                    li {
                        width: calc(100% / 4 - 5px);
                        margin: 0 2.5px;
                    }
                }
            }
        }

        .mid-fullbanner  {
            margin: 60px 0;

            @media screen and (max-width:$mobile) {
                padding: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .bg-cinza {
            &:after {
                width: 100%;
                height: 580px;
                background-color: #f8f8f8;
                display: block;
                content: '';
                position: absolute;
                top: 0;
                z-index: -1;

                @media screen and (max-width:$mobile) {
                    height: 85px;
                }
            }

            .tipbar {
                margin-bottom: 35px;
                
                @media screen and (min-width:$mobile) {
                    display: flex;
                    justify-content: space-between;
                }

                li,
                .box-banner {
                    height: 70px;
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:$mobile) {
                        justify-content: center;
    
                        img {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .collection-image {
            @media screen and (max-width:$mobile) {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .box-instagram {
            margin: 60px  0;

            & > a {
                font-size: 30px;
                font-weight: 300;
                text-transform: uppercase;

                strong {
                    @media screen and (max-width:$mobile) {
                        display: block;
                    }
                }
            }

            #instafeed {
                display: flex;
                justify-content: space-between;
                padding: 40px 0;

                @media screen and (max-width:$mobile) {
                    display: block;
                    padding-top: 10px;

                    //SETA MENOR
                    .slick-arrow {
                        width: 40px;
                        height: 40px;
                        top: 40%;
                        background-size: 10px;

                        &.slick-prev {
                            background-position: 17px center;
                        }
                    }
                }
    
                article {
                    width: calc(100% / 4 - 5px);
                    height: 280px;
                    position: relative;
                    overflow: hidden;
    
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        height: 345px;
                        margin: 0;
                    }
        
                    &:hover {
                        @media screen and (min-width:$mobile) {
                            .likes {
                                opacity: 1;
                            }
                        }
                    }
        
                    a {
                        img {
                            width: 100%;
                            height: 100%;

                            @media screen and (max-width:$mobile) {
                                height: auto;
                            }
                        }
        
                        .likes {
                            width: 100%;
                            height: 100%;
                            line-height: 265px;
                            font-size: 45px;
                            color: #fff;
                            position: absolute;
                            top: 0;
                            left: 0;
                            text-align: center;
                            opacity: 0;
                            transition: opacity 300ms;
                            background-color:rgba(130, 130, 130, 0.5);
                        }
                    }
                }
            }
        }
    }
}