.institucional {
    h1 {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 20px 15px 20px 15px;
        color: $cor-principal;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;

        .menu {
            width: 25%;

            @media screen and (max-width: $mobile) {
                width: 100%;
            }

            h2 {
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            nav {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-right: 1px solid $cor-principal;
                margin: 0 0 20px;

                a {
                    font-weight: 300;
                    font-size: 13px;
                    margin: 5px 0;
                    color: $cor-secundaria;
                    text-transform: capitalize;

                    &:before {
                        content: "- ";
                    }
                }
            }
        }

        .text {
            width: 75%;

            @media screen and (max-width: $mobile) {
                width: 100%;
            }

            @media screen and (min-width: $mobile) {
                padding-left: 30px;
            }

            h2 {
                font-size: 20px;
                font-weight: 500;
            }

            p {
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;

                &.search-results {
                    flex-direction: row;
                }

                li {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

body.multimarcas {
    main {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
    }

    .bold {
        font-weight: bold;
    }

    .content {
        background: #f8f8f8;

        @media screen and (max-width: 490px) {
            display: none;
        }

        .menu {
            margin-top: 20px;

            #institucional-menu {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            a {
                display: inline-block;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 14px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .img-multimarca {
        @media screen and (max-width: 490px) {
            padding-left: 0;
            padding-right: 0;
            margin-top: 40px;
        }

        img {
            width: 780px;
            height: 1280px;
            margin-left: -390px;

            &.img-mobile {
                display: none;

                @media screen and (max-width: 490px) {
                    width: 100%;
                    height: 100%;
                    margin-left: 0;
                    display: block;
                }
            }

            @media screen and (max-width: 769px) {
                width: 100%;
                height: 100%;
                margin-left: 0;
            }

            @media screen and (max-width: 490px) {
                display: none;
            }
        }
    }

    .border-mob {
        @media screen and (max-width: 769px) {
            border: 1px solid #f6f9fc;
            -webkit-box-shadow: 0px 6px 43px -23px rgba(247, 250, 252, 1);
            -moz-box-shadow: 0px 6px 43px -23px rgba(247, 250, 252, 1);
            box-shadow: 0px 6px 43px -23px rgba(247, 250, 252, 1);
            padding-bottom: 65px;
        }

        @media screen and (max-width: 490px) {
            margin-top: -170px;
            background: #fff;
        }
    }

    h2 {
        font-weight: bold;
        font-size: 30px;
        color: #3f4040;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 40px;

        @media screen and (max-width: 490px) {
            padding: 25px 15px 0px;
            margin-bottom: 65px;
            margin-top: 0;
        }
    }

    .text {
        padding: 50px 35px 50px;
        border: 1px solid #f6f9fc;
        -webkit-box-shadow: 0px 6px 43px -23px #dcdcdc;
        -moz-box-shadow: 0px 6px 43px -23px #dcdcdc;
        box-shadow: 0px 6px 43px -23px #dcdcdc;

        @media screen and (max-width: 490px) {
            padding: 0 15px 50px;
            border: 0;
        }

        a {
            color: #3f4040;
            transform: 300ms all;

            &.hover {
                opacity: 0.6;
            }
        }

        p {
            margin-bottom: 20px;
        }
    }

    form {
        @media screen and (max-width: 490px) {
            padding: 0 15px;
        }

        .text-form {
            margin: 20px 0 35px;

            @media screen and (max-width: 490px) {
                margin: 35px 0 35px;
            }
        }

        .inputs {
            p {
                display: inline-block;
                width: calc((100% / 3) - 24px);
                margin-right: 30px;
                margin-bottom: 10px;
                vertical-align: top;
                height: 90px;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    height: auto;
                    margin-bottom: 25px;
                }

                &.mg-none {
                    margin-right: 0;
                }

                .input-error {
                    font-size: 12px;
                    text-transform: capitalize;
                    color: red;
                }
            }
        }

        label {
            display: block;
        }

        input {
            width: 100%;
            height: 50px;
            border: 1px solid #cbcbcb;
            padding-left: 10px;

            &.error {
                border: 1px solid red;
            }
        }

        .last-inputs {
            label {
                height: 40px;

                &.padding {
                    padding-top: 20px;
                }
            }

            p {
                vertical-align: top;
                margin-bottom: 65px;
                width: 35.3%;

                @media screen and (max-width: 769px) {
                    width: 35%;
                }

                @media screen and (max-width: 490px) {
                    width: 100%;
                    margin-bottom: 25px;
                }

                &:nth-child(1) {
                    width: 60%;

                    @media screen and (max-width: 490px) {
                        width: 100%;
                    }
                }
            }

            textarea {
                border: 1px solid #cbcbcb;
                width: 100%;
                height: 105px;
                padding-left: 10px;

                &.error {
                    border: 1px solid red;
                }
            }
        }

        input[type="submit"] {
            width: 270px;
            height: 50px;
            background-color: #85c39c;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            float: right;
            margin-bottom: 35px;
            padding-left: 0px;

            @media screen and (max-width: 490px) {
                width: 100%;
                height: 70px;
            }
        }
    }

    #success {
        opacity: 0;
        display: none;
        transition: all 300ms;
        text-align: center;
        margin-top: 100px;

        @media screen and (max-widht: 769px) {
            margin-bottom: 100px;
            margin-top: 50px;
        }

        &.active {
            display: block;
            opacity: 1;
        }
    }

    footer {
        @media screen and (min-width: $mobile) {
            margin-top: -34px;
        }
    }
}