.prateleira {
	& > h2 {
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 15px;
		text-align: center;
	}
	
	ul {
		li {
			article {
				h3 {
					height: 50px;
					line-height: 19px;
					text-align: center;
					font-size: 18px;
					font-weight: 400;
					margin-top: 10px;
					margin-bottom: 15px;
					display: block;
				}

				.price {
					text-align: center;
					display: block;

					.de {
						height: 17px;
						font-size: 12px;
						text-decoration: line-through;
					}
					
					.por {
						font-size: 18px;
						font-weight: 400;
						color: $cor-principal;
						display: block;
					}

					.parcelado {
						font-size: 16px;
						font-weight: 400;
					}
				}

				.discount {
					display: block!important;
					text-align: center;

					p {
						display: none;

						&.calcinhas-l3---3-por-r-9900 {
							display: inline-block!important;
							font-size: 0;
							background-image: url(/arquivos/anyany_selo_off_gif.gif);
							background-repeat: no-repeat;
							background-position: center;
							width: 168px;
							height: 26px;
						}
					}
				}

				figure {
					img {
						width: 100%;
						height: auto;
					}
				}

				.buy-button-normal {
					display: none;
				}
			}
		}
	}
}