.produto {
  main {
    margin-top: 20px;
    position:relative;

    .row-1 {
      padding-bottom: 80px;
      margin-bottom: 30px;
      border-bottom: 1px solid #dcdcdc;

      .bread-crumb {
        position: relative;
        z-index: 2;
        padding-left: 15px;
        padding-top: 3px;

        @media screen and (max-width: $mobile) {
          display: none;
        }
      }

      .apresentacao {
        margin-top: -24px;
        overflow: hidden;

        #show {
          position: relative;

          .image-zoom  {
            &:hover {
              cursor: crosshair;
            }
          }

          #image-main {
            width: 100%;
            height: auto;

            @media screen and (max-width: $mobile) {
              display: none;
            }
          }

          .thumbs {
            position: absolute;
            top: 60px;
            width: 20%;
            left: 30px;
            z-index: 2;

            @media screen and (max-width: $mobile) {
              position: static;
              overflow: hidden;
              width: 100%;
              height: auto;
              transition: height 300ms;
            }

            li {
              margin-bottom: 20px;
              box-shadow: 0px 0px 10px -2px #dcdcdc;

              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      .productName {
        font-size: 30px;
        font-weight: 400;
        color: $cor-principal;
        line-height: 30px;

        @media screen and (max-width:$mobile) {
          padding-top: 10px;
        }
      }

      .productReference {
        font-size: 12px;
        margin-top: 10px;

        &:before {
          content: "Código";
          margin-right: 5px;
        }
      }

      .selection_prod {
        padding: 25px 0;
        margin: 25px 0 25px;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;

        @media screen and (min-width:$mobile) and (max-width:1400px) {
          padding: 15px 0;
          margin: 15px 0 15px;
        }

        .sku-selector-container {
          ul {
            &.topic {
              margin-bottom: 15px;

              &.Tamanho,
              &.Cor {
                li {
                  &.specification {
                    font-size: 0;
                    margin-bottom: 10px;
                    display: block;

                    &:after {
                      content: "Escolha o tamanho";
                      font-size: 14px;
                    }
                  }

                  &.skuList {
                    span {
                      display: flex;
                      flex-wrap: wrap;

                      input[type="radio"] {
                        display: none;
                      }

                      label {
                        width: 50px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 2px;
                        border: 1px solid #dcdcdc;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        transition: all 300ms;

                        &.sku-picked {
                          font-weight: bold;
                          background-color: #ededed;
                        }

                        &.item_unavailable {
                          opacity: 0.3;
                          pointer-events: none;
                        }
                      }
                    }
                  }
                }
              }

              &.Cor {
                li {
                  &.specification {
                    font-size: 0;
                    margin-bottom: 10px;
                    display: block;
  
                    &:after {
                      content: "Escolha a cor";
                      font-size: 14px;
                    }
                  }

                  &.skuList {
                    span {
                      label {
                        width: auto;
                        padding: 0 8px;
                      }
                    }
                  }
                }
              }

              &.numopt-1 {
                display: none!important;
              }
            }
          }
        }

        .options {
          .sizebay-container {
            width: 100%;

            button {
              width: 47%;
              height: 50px;
              border-radius: 3px;     
              padding: 0!important;
              min-width: initial!important;
              max-width: initial!important;
              background-color: #e3ebf4!important;
              border: 1px solid #9dbbde!important;

              @media screen and (max-width:$mobile) {
                font-size: 19px!important;
              }

              &#szb_fitting_room {
                &:before {
                  @media screen and (max-width:$mobile) {
                    content: "\61";
                    font-family: untitled-font-2;
                    text-transform: none;
                    color: #395779!important;
                  }
                }
              }

              &#szb_size_chart {
                &:before {
                  @media screen and (max-width:$mobile) {
                    content: "\62";  
                    font-family: untitled-font-2;
                    text-transform: none;
                    color: #395779!important;
                  }
                }
              }

              & > span {
                width: 100%;
                display: block;
                left: 0!important;
                color: #395779;

                @media screen and (max-width:$mobile) {
                  font-size: 13px!important;
                }

                &:before {
                  position: static!important;
                  display: block;
                  margin: 0 auto 3px;
                  color: #395779!important;
                }
              }
            }
          }
        }
      }

      .info_prod {
        @media screen and (max-width: $mobile) {
          @include clearfix;
        }

        .price_prod {
          @media screen and (max-width: $mobile) {
            width: 60%;
            float: left;
          }

          .valor-de {
            font-style: normal;
            font-size: 12px;
            text-decoration: line-through;
            font-weight: 300;

            strong {
              font-weight: 300;
            }
          }

          .valor-por {
            display: none !important;
            font-style: normal;
            font-size: 14px;

            strong {
              font-size: 22px;
              font-weight: bold;
              color: $cor-principal;
            }
          }

          .valor-dividido {
            &:before {
              content: 'Por';
              font-size: 14px;
              float: left;
              font-style: normal;
              margin-right: 5px;
              padding-top: 8px;
              
              @media screen and (max-width:$iphone5) {
                padding-top: 0;
              }
            }

            span {
              display: flex;
              font-size: 22px;
              font-weight: bold;
              color: $cor-principal; 
              
              @media screen and (max-width:$iphone5) {
                font-size:14px;
              }

              span {
                display: flex;
                font-style: normal;
                font-size: 0;

                label {
                  display: flex;
                  font-size: 22px; 
                  
                  @media screen and (max-width:$iphone5) {
                    font-size:14px;
                  }

                  .x {
                    font-size: 22px; 
                    
                    @media screen and (max-width:$iphone5) {
                      font-size:14px;
                    }
                  }
                }
              }

              strong {
                font-style: normal;
                margin-left: 3px;

                label {
                  font-weight: bold;
                }
              }
            }
          }

          .preco-a-vista {
            color: #919191;
            font-weight: 400;

            strong {
              color: #95adcb;
              font-weight: 400;
              margin-left: 3px;
            }
          }

          .economia-de {
            display: none !important;
          }
        }

        .cta_prod {
          padding-top: 25px;
          margin-top: 25px;
          border-top: 1px solid #dcdcdc;

          @media screen and (min-width:$mobile) and (max-width:1400px) {
            padding-top: 15px;
            margin-top: 15px;
          }

          @media screen and (max-width: $mobile) {
            width: 40%;
            float: right;
            margin: 0;
            padding: 0;
            border: none;
          }

          .qty {
            p {
              float: left;
              height: 40px;
              line-height: 40px;
              margin-right: 15px;

              @media screen and (max-width: $mobile) {
                width: 100%;
                margin: 0 0 5px 0;
                height: auto;
                line-height: initial;
                text-align: center;
              }
            }

            div {
              display: flex;
              width: 130px;
              height: 40px;
              border-radius: 3px;
              background-color: #ededed;
             
              @media screen and (max-width: $mobile) {
                width: 120px;
              }

              @media screen and (max-width: $mobile) {
                margin: 0 auto;
              }

              .count {
                width: 30%;
                height: 40px;
                text-align: center;
                font-weight: bold;
                line-height: 40px;
                color: #5ec59b;
                font-size: 20px;
                position: relative;

                &:after {
                  content: "";
                  width: 1px;
                  height: 60%;
                  background-color: #dbdbdb;
                  display: block;
                  position: absolute;
                  top: 8px;
                }

                &.count-menos {
                  &:after {
                    right: 0;
                  }
                }

                &.count-mais {
                  &:after {
                    left: 0;
                  }
                }
              }

              input[type="number"] {
                width: 40%;
                background-color: #ededed;
                text-align: center;
              }
            }
          }
        }
      }

      .buy_in_page {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 55px;
        line-height: 55px;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $cor-cta;
        color: #fff;
        border-radius: 3px;
      }

      .no-estoque {
        background-color: #f7d0d2;
        padding: 15px 10px;
        border-radius: 5px;
        color: #9C5954;
        font-weight: 500;
        margin-top: 15px;
        display: none;

        &.active {
          display: block;
        }

        span {
          float: right;
          font-weight: bold;
          cursor: pointer;
          margin-top: -15px;
        }
      }

      .box_accordion {
        border-top: 1px solid #dcdcdc;
        margin-top: 25px;

        .accordion_prod {
          border-bottom: 1px solid #dcdcdc;

          p {
            height: 50px;
            line-height: 50px;
            text-transform: uppercase;
            cursor: pointer;
            display: flex;

            i {
              width: 7px;
              margin-right: 5px;
              padding-top: 25px;

              &.active {
                span {
                  &:first-child {
                    transform: rotate(90deg);
                    position: relative;
                  }
                }
              }

              span {
                width: 7px;
                height: 1px;
                display: block;
                background: black;
                margin-bottom: 3px;
                transition: transform 300ms;

                &:last-child {
                  margin-top: -4px;
                }
              }
            }
          }

          div {
            color: #979797;
            padding-bottom: 10px;
            display: none;

            .productDescription {
              display: block;
            }

            table {
              border: 1px solid $cor-principal;
              font-size: 12px;

              tr {
                height: 23px;
                ;
                border-top: 1px solid $cor-principal;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .row-2 {
      margin-bottom: 50px;
      
      .prateleira {
        h2 {
          text-align: center;
        }

        ul {
          display: flex;
          flex-wrap: wrap;

          @media screen and (min-width:$mobile) {
            margin-left: -2.5px;
            margin-right: -2.5px;
          }

          li {
            width: calc(100% / 4 - 5px);
            margin: 0 2.5px;
          }
        }
      }
    }
  }
}