/*CONTAINER*/
@media (min-width: 1200px) {
	.container {
		width: 1170px;
		padding: 0;
	}
}
/*FIM - CONTAINER*/

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

[value="OrderByNameASC"],
[value="OrderByNameDESC"],
[value="OrderByReviewRateDESC"],
[value="OrderByTopSaleDESC"] {
	display: none;
}

//POP UP PROMO
.popup-promo {
	width: 600px;
    height: 300px;
    background: white;
    position: fixed;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -150px;
	z-index: 11;
	opacity: 0;
	visibility: hidden;
	transition: visibility 300ms;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	@media screen and (max-width:$mobile) {
		height: auto;
		margin-top: -170px;
		left: 15px;
		margin-left: 0;
		width: calc(100% - 30PX);
	}

	a.close-popup-promo {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 14px;
		color: #666;
		font-weight: bold;
	}
	
	.popup-promo-photo {
		width: 250px;
		height: 300px;
		vertical-align: top;
		display: inline-block;

		@media screen and (max-width:$mobile) {
			display: none;
		}
	}

	.popup-promo-content {
		width: 349px;
		height: 100%;
		display: inline-block;
		text-align: center;
		padding: 10px;
		background: white;

		@media screen and (max-width:$mobile) {
			width: 100%;
		}

		h2 {
			font-weight: 400;
			max-width: 80%;
			margin: 0 auto;
			color: rgb(104, 142, 190);
		}

		form {
			margin-top: 20px;

			input[type="text"],
			input[type="email"] {
				display: block;
				width: 100%;
				height: 46px;
				margin-bottom: 10px;
				background-color: #fafafa;
				border: none;
				padding-left: 10px;
				font-size: 14px;
			}

			input[type="submit"] {
				background-color: black;
				color: white;
				cursor: pointer;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 18px;
				float: right;
				width: auto;
				padding: 0 16px;
				border-radius: 2px;
				height: 40px;
				-webkit-appearance: none;
				-moz-appearance:none;
				-o-appearence:none;
			}
		}

		p {
			width: 100%;
			float: left;
			text-align: left;
			font-size: 12px;
			font-weight: 300;
			margin-top: 20px;
		}
	}
}
//FIM - POP UP PROMO

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content,
#ajaxBusy {
	display: none !important;}

.red {color: $cor-secundaria;}

.no-border {border-bottom: 0;}

.desktop {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.mobile {
	display: none;
	
	@media screen and (max-width: $mobile) {
		display: block !important;
	}
}

#overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(130, 130, 130, 0.5);
	position: fixed;
	transition: opacity .5s;
	visibility: hidden;
	z-index: 11;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&.strong {
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
}

.txt-center {text-align: center;}
.dis-none {display: none;}
.bold {font-weight: bold;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	font-family: $font-principal;
	font-size: 14px;
	color: #666666;
	height: 100%;
	background-color: #fff;
	box-sizing: border-box;

	&.active {
		@media screen and (max-width:$mobile) {
			overflow: hidden;
		}
	}
}

/*---------------------------------------------*/
a {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
	color: $cor-principal;
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	font-family: $font-principal;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input,
textarea,
label {
	display: block;
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
}