$font-principal: 'Open Sans', sans-serif;
$font-secundaria: 'Titillium Web', sans-serif;

$branco: #fff;
$cor-principal: #9ebae0;
$cor-secundaria: #DB6885;
$cor-cta: #5ec59b;
$cor-texto: #000;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;