.zoomPad {
    position: relative;
    float: left;
    cursor: crosshair;
}

.zoomOverlay,
.zoomPup,
.zoomWindow {
    position: absolute;
}

.zoomPup {
    overflow: hidden;
    background-color: #FFF;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity=60);
    border: 0;
    z-index: 1;
    cursor: crosshair;
}

.zoomOverlay {
    left: 0;
    top: 0;
    background: #FFF;
    width: 100%;
    height: 100%;
    display: none;
}

.zoomPreload {
    top: 0!important;
    left: 0!important;
    opacity: .8;
    transition: all 300ms;
    filter: alpha(opacity=80);
    background-color: #fff;
    background-image: url(/arquivos/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.zoomWindow {
    z-index: 1 !important;
    height: 1102px !important;
    left: 0 !important;
    top: 40px;
    background: #FFF;
    height: auto;
}

.zoomWrapper {
    height: 1102px !important;
    position: relative;
    border: 0;
}

.zoomWrapperImage {
    width: 825px !important;
    height: 1102px !important;
    display: block;
    position: relative;
    overflow: hidden;
}

.zoomWrapperImage img {
    border: 0;
    display: block;
    position: absolute;
    width: 2540px;
    height: 3460px;
}

.zoomIframe {
    z-index: -1;
    filter: alpha(opacity=0);
    -moz-opacity: .8;
    opacity: .8;
    position: absolute;
    display: block;
}

/*TEMPLATE 2*/
.produto {
    &.produto_2 {
        /*AJUSTE REFERENTE AO ZOOM - APENAS DESKTOP*/
        @media screen and (min-width:$mobile) {
            .apresentacao {
                margin-top: 0!important;
    
                #show {
                    display: flex;
    
                    #include {
                        width: 85%;
                        order: 2;
                    }
    
                    .thumbs {
                        width: 15%!important;
                        position: static!important;
                        padding: 20px 5px 5px 5px;
            
                        @media screen and (min-width:$mobile) and (max-width:1400px) {
                            width: 12%!important;
                        }
                    }
                }
    
                .zoomPad {
                    width: 100%;
                }
                
                #image-main {
                  width: 500px!important;
                  margin: 0 auto;
                  display: block;
                }
        
                .zoomWindow {
                    height: 665px!important;
                    margin-left: 110px;
                
                    .zoomWrapper {
                        width: 500px!important;
                        height: 665px!important;
                        margin: 0 auto;
        
                        .zoomWrapperImage {
                            width: 500px!important;
                            height: 665px!important;
                        }
                    }
                }
            }
        }
        /*AJUSTE REFERENTE AO ZOOM - APENAS DESKTOP*/
    }
}
/*FIM - TEMPLATE 2*/