@charset "UTF-8";
/*CONTAINER*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 0;
  }
}
/*FIM - CONTAINER*/
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

[value=OrderByNameASC],
[value=OrderByNameDESC],
[value=OrderByReviewRateDESC],
[value=OrderByTopSaleDESC] {
  display: none;
}

.popup-promo {
  width: 600px;
  height: 300px;
  background: white;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -150px;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: visibility 300ms;
}
.popup-promo.active {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 812px) {
  .popup-promo {
    height: auto;
    margin-top: -170px;
    left: 15px;
    margin-left: 0;
    width: calc(100% - 30PX);
  }
}
.popup-promo a.close-popup-promo {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}
.popup-promo .popup-promo-photo {
  width: 250px;
  height: 300px;
  vertical-align: top;
  display: inline-block;
}
@media screen and (max-width: 812px) {
  .popup-promo .popup-promo-photo {
    display: none;
  }
}
.popup-promo .popup-promo-content {
  width: 349px;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px;
  background: white;
}
@media screen and (max-width: 812px) {
  .popup-promo .popup-promo-content {
    width: 100%;
  }
}
.popup-promo .popup-promo-content h2 {
  font-weight: 400;
  max-width: 80%;
  margin: 0 auto;
  color: #688ebe;
}
.popup-promo .popup-promo-content form {
  margin-top: 20px;
}
.popup-promo .popup-promo-content form input[type=text],
.popup-promo .popup-promo-content form input[type=email] {
  display: block;
  width: 100%;
  height: 46px;
  margin-bottom: 10px;
  background-color: #fafafa;
  border: none;
  padding-left: 10px;
  font-size: 14px;
}
.popup-promo .popup-promo-content form input[type=submit] {
  background-color: black;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  float: right;
  width: auto;
  padding: 0 16px;
  border-radius: 2px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearence: none;
}
.popup-promo .popup-promo-content p {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content,
#ajaxBusy {
  display: none !important;
}

.red {
  color: #DB6885;
}

.no-border {
  border-bottom: 0;
}

@media screen and (max-width: 812px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media screen and (max-width: 812px) {
  .mobile {
    display: block !important;
  }
}

#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(130, 130, 130, 0.5);
  position: fixed;
  transition: opacity 0.5s;
  visibility: hidden;
  z-index: 11;
}
#overlay.active {
  opacity: 1;
  visibility: visible;
}
#overlay.strong {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.txt-center {
  text-align: center;
}

.dis-none {
  display: none;
}

.bold {
  font-weight: bold;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #666666;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}
@media screen and (max-width: 812px) {
  body.active,
html.active {
    overflow: hidden;
  }
}

/*---------------------------------------------*/
a {
  color: inherit;
  transition: color 0.5s;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #9ebae0;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input,
textarea,
label {
  display: block;
  outline: none;
  border: none;
}

/*---------------------------------------------*/
button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
}

iframe {
  border: none;
}

@media screen and (min-width: 812px) {
  .home {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 812px) {
  .home .mid-fullbanner img,
.home .fullbanner .slick-list {
    position: relative;
    left: 50%;
    margin-left: -960px;
  }
}
@media screen and (min-width: 812px) {
  .home main section.of-hidden {
    height: 550px;
  }
}
@media screen and (max-width: 812px) {
  .home main .fullbanner.desktop {
    display: none;
  }
  .home main .fullbanner.mobile {
    display: block;
    margin-bottom: 30px;
  }
  .home main .fullbanner.mobile img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 812px) {
  .home main .collection_1 .collection-image img {
    width: auto;
    margin: 0 auto;
    height: 710px;
    display: block;
  }
}
@media screen and (min-width: 812px) {
  .home main .collection_1 .collection-image img {
    margin-top: -30px;
  }
}
@media screen and (min-width: 812px) {
  .home main .collection_1 .prateleira {
    padding-top: 20px;
  }
}
@media screen and (max-width: 812px) {
  .home main .collection_1 .prateleira h2 {
    display: none;
  }
}
.home main .collection_2 {
  position: relative;
  margin-top: 15px;
  padding-top: 15px;
}
@media screen and (max-width: 812px) {
  .home main .collection_2 {
    padding-top: 7px;
  }
  .home main .collection_2 .col-md-4 {
    order: 2;
  }
}
@media screen and (max-width: 812px) {
  .home main .collection_2 .collection-image {
    order: 1;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 812px) {
  .home main .collection_2 .collection-image img {
    width: auto;
    margin: 0 auto;
    height: 690px;
    display: block;
  }
}
@media screen and (min-width: 812px) {
  .home main .collection_2 .prateleira {
    padding-top: 30px;
  }
}
.home main .collection_3 .prateleira h2 {
  text-align: center;
  margin-bottom: 50px;
}
.home main .collection_3 .prateleira ul {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 812px) {
  .home main .collection_3 .prateleira ul {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
}
.home main .collection_3 .prateleira ul li {
  width: calc(100% / 4 - 5px);
  margin: 0 2.5px;
}
.home main .mid-fullbanner {
  margin: 60px 0;
}
@media screen and (max-width: 812px) {
  .home main .mid-fullbanner {
    padding: 0;
  }
  .home main .mid-fullbanner img {
    width: 100%;
    height: auto;
  }
}
.home main .bg-cinza:after {
  width: 100%;
  height: 580px;
  background-color: #f8f8f8;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 812px) {
  .home main .bg-cinza:after {
    height: 85px;
  }
}
.home main .bg-cinza .tipbar {
  margin-bottom: 35px;
}
@media screen and (min-width: 812px) {
  .home main .bg-cinza .tipbar {
    display: flex;
    justify-content: space-between;
  }
}
.home main .bg-cinza .tipbar li,
.home main .bg-cinza .tipbar .box-banner {
  height: 70px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 812px) {
  .home main .bg-cinza .tipbar li,
.home main .bg-cinza .tipbar .box-banner {
    justify-content: center;
  }
  .home main .bg-cinza .tipbar li img,
.home main .bg-cinza .tipbar .box-banner img {
    display: inline-block;
  }
}
@media screen and (max-width: 812px) {
  .home main .collection-image img {
    width: 100%;
    height: auto;
  }
}
.home main .box-instagram {
  margin: 60px 0;
}
.home main .box-instagram > a {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 812px) {
  .home main .box-instagram > a strong {
    display: block;
  }
}
.home main .box-instagram #instafeed {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
@media screen and (max-width: 812px) {
  .home main .box-instagram #instafeed {
    display: block;
    padding-top: 10px;
  }
  .home main .box-instagram #instafeed .slick-arrow {
    width: 40px;
    height: 40px;
    top: 40%;
    background-size: 10px;
  }
  .home main .box-instagram #instafeed .slick-arrow.slick-prev {
    background-position: 17px center;
  }
}
.home main .box-instagram #instafeed article {
  width: calc(100% / 4 - 5px);
  height: 280px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 812px) {
  .home main .box-instagram #instafeed article {
    width: 100%;
    height: 345px;
    margin: 0;
  }
}
@media screen and (min-width: 812px) {
  .home main .box-instagram #instafeed article:hover .likes {
    opacity: 1;
  }
}
.home main .box-instagram #instafeed article a img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 812px) {
  .home main .box-instagram #instafeed article a img {
    height: auto;
  }
}
.home main .box-instagram #instafeed article a .likes {
  width: 100%;
  height: 100%;
  line-height: 265px;
  font-size: 45px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 300ms;
  background-color: rgba(130, 130, 130, 0.5);
}

@media screen and (max-width: 812px) {
  header {
    padding-bottom: 10px;
  }
}
header .row-0 {
  background-color: black;
  color: white;
  padding: 5px 0 4px;
  margin-bottom: 15px;
}
@media screen and (max-width: 812px) {
  header .row-0 {
    margin-bottom: 10px;
  }
}
header .row-0 #barra_frete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header .row-0 #barra_frete.success .column-1 .message_default {
  display: none;
}
header .row-0 #barra_frete.success .column-1 .message_success {
  display: block;
}
header .row-0 #barra_frete.success .column-2 .barra {
  background-color: #00ac5a;
}
header .row-0 #barra_frete.success .column-2 .barra span {
  width: 0% !important;
}
header .row-0 #barra_frete .column-1,
header .row-0 #barra_frete .column-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 812px) {
  header .row-0 #barra_frete .column-1,
header .row-0 #barra_frete .column-2 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 812px) {
  header .row-0 #barra_frete .column-1 {
    margin-bottom: 7px;
  }
}
header .row-0 #barra_frete .column-1 p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media screen and (max-width: 360px) {
  header .row-0 #barra_frete .column-1 p {
    font-size: 10px;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 360px) and (max-width: 812px) {
  header .row-0 #barra_frete .column-1 p {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
header .row-0 #barra_frete .column-2 .barra {
  width: 320px;
  height: 15px;
  position: relative;
  border: 1px solid white;
  transition: background-color 300ms;
  background-color: #9ebae0;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 15px;
}
@media screen and (max-width: 812px) {
  header .row-0 #barra_frete .column-2 .barra {
    height: 12px;
  }
}
header .row-0 #barra_frete .column-2 .barra span {
  position: absolute;
  top: -1px;
  right: 0;
  width: 100%;
  height: 15px;
  display: block;
  transition: width 300ms;
  background-color: black;
}
header .row-0 #barra_frete .column-2 svg {
  margin-top: -5px;
}
@media screen and (max-width: 812px) {
  header .row-0 #barra_frete .column-2 svg {
    height: 21px;
  }
}
header .row-1 {
  background: black;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
}
header .row-1 p {
  letter-spacing: 3px;
}
@media screen and (max-width: 812px) {
  header .row-1 p {
    font-size: 10px;
  }
}
header .row-2 {
  position: relative;
}
@media screen and (max-width: 812px) {
  header .row-2 {
    overflow: hidden;
  }
}
@media screen and (min-width: 812px) {
  header .row-2 .logo {
    text-indent: 21%;
  }
}
header .row-2 .hamburger {
  display: none;
}
@media screen and (max-width: 812px) {
  header .row-2 .hamburger {
    display: block;
    padding-top: 20px;
  }
  header .row-2 .hamburger span {
    width: 35px;
    height: 3px;
    background-color: #9ebae0;
    display: block;
    margin: 0 auto 7px;
  }
  header .row-2 .hamburger span:last-child {
    margin-bottom: 0;
  }
}
header .row-2 .menu-apoio {
  display: flex;
  height: 65px;
  line-height: 65px;
  font-weight: bold;
  color: #9ebae0;
}
@media screen and (max-width: 812px) {
  header .row-2 .menu-apoio {
    display: none;
  }
}
header .row-2 .menu-apoio li:first-child:after {
  content: "|";
  font-size: 14px;
  font-weight: 300;
  margin: 0 10px;
}
header .row-2 .icones {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
@media screen and (max-width: 812px) {
  header .row-2 .icones {
    margin-left: -15px;
  }
}
header .row-2 .icones fieldset.busca {
  width: 250px;
}
@media screen and (max-width: 812px) {
  header .row-2 .icones fieldset.busca {
    display: none;
  }
}
header .row-2 .icones fieldset.busca legend,
header .row-2 .icones fieldset.busca label,
header .row-2 .icones fieldset.busca select {
  display: none;
}
header .row-2 .icones fieldset.busca input[type=text] {
  width: 100%;
  height: 37px;
  font-size: 12px;
  border-bottom: 1px solid #d1d1d1;
  color: #535353;
}
header .row-2 .icones fieldset.busca input[type=button] {
  float: right;
  width: 35px;
  height: 35px;
  display: block;
  border: none;
  font-size: 0;
  background-color: #fff;
  background-image: url(/arquivos/ico-lupa.png);
  background-repeat: no-repeat;
  margin-top: -36px;
  background-size: 30px;
  cursor: pointer;
}
header .row-2 .icones .ico-account {
  position: relative;
  margin: 0 20px;
}
@media screen and (min-width: 812px) {
  header .row-2 .icones .ico-account:hover .box_hover {
    display: block !important;
  }
}
header .row-2 .icones .ico-account .box_hover {
  position: absolute;
  top: 37px;
  right: -10px;
  width: 120px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px #dcdcdc;
  z-index: 1;
  padding: 10px;
}
header .row-2 .icones .ico-account .box_hover:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -10px;
  right: 10px;
}
header .row-2 .icones .ico-account .box_hover ul li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}
header .row-2 .icones .ico-account .box_hover ul li:first-child {
  border-bottom: 1px solid #dcdcdc;
}
header .row-2 .icones .ico-account .box_hover ul li:last-child {
  margin-bottom: 0;
}
header .row-2 .icones .ico-account .box_hover ul li:last-child a {
  display: block;
  border-radius: 2px;
  background-color: #DB6885;
  color: white;
}
@media screen and (max-width: 812px) {
  header .row-2 .icones .ico-account {
    display: none;
  }
}
header .row-2 .icones .ico-cart {
  position: relative;
}
@media screen and (min-width: 812px) {
  header .row-2 .icones .ico-cart {
    z-index: 12;
  }
}
header .row-2 .icones .ico-cart #qty {
  width: 15px;
  height: 15px;
  background-color: #DB6885;
  color: white;
  display: block;
  text-align: center;
  border-radius: 50px;
  font-size: 11px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}
@media screen and (max-width: 812px) {
  header .row-2 .busca-mob {
    width: 85%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 300ms;
    background-color: white;
  }
  header .row-2 .busca-mob.active {
    right: 18%;
  }
  header .row-2 .busca-mob .ico-close {
    width: 15%;
    float: left;
    padding-left: 15px;
    padding-top: 25px;
    text-align: center;
  }
  header .row-2 .busca-mob fieldset.busca {
    width: 75%;
    display: block;
    padding: 20px 0;
    float: right;
  }
  header .row-2 .busca-mob fieldset.busca legend,
header .row-2 .busca-mob fieldset.busca label,
header .row-2 .busca-mob fieldset.busca select {
    display: none;
  }
  header .row-2 .busca-mob fieldset.busca input[type=text] {
    width: 96%;
    height: 37px;
    font-size: 12px;
    border-bottom: 1px solid #d1d1d1;
    color: #535353;
  }
  header .row-2 .busca-mob fieldset.busca input[type=button] {
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    font-size: 0;
    background-color: #fff;
    background-image: url(/arquivos/ico-lupa.png);
    background-repeat: no-repeat;
    margin-top: -42px;
    cursor: pointer;
    background-size: 31px;
  }
}
@media screen and (max-width: 812px) {
  header .row-3 nav {
    position: fixed;
    z-index: 12;
    width: 80%;
    height: 100%;
    top: 38px;
    left: -100%;
    transition: left 300ms;
    padding-bottom: 60px;
  }
  header .row-3 nav.active {
    left: 0;
  }
  header .row-3 nav.active .btn-fechar {
    opacity: 1;
    visibility: visible;
  }
}
header .row-3 nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul {
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    float: left;
    padding-top: 0;
    overflow: scroll;
  }
  header .row-3 nav ul.dis-flex {
    max-height: 600px;
    overflow: scroll;
  }
}
@media screen and (max-width: 360px) {
  header .row-3 nav ul.dis-flex {
    max-height: 450px;
  }
}
header .row-3 nav ul li {
  color: #0c0c0c;
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li {
    border-bottom: 1px solid #dcdcdc;
  }
  header .row-3 nav ul li:last-child {
    border-bottom: 0;
  }
}
@media screen and (min-width: 812px) {
  header .row-3 nav ul li:nth-child(8) span + div {
    margin-left: -184px;
  }
  header .row-3 nav ul li:nth-child(9) span + div {
    margin-left: -353px;
  }
  header .row-3 nav ul li:nth-child(10) span + div {
    margin-left: -450px;
  }
}
header .row-3 nav ul li.head, header .row-3 nav ul li.footer {
  display: none;
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li.head {
    display: block;
    background-color: #9ebae0;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  header .row-3 nav ul li.head svg {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 15px;
    position: relative;
    bottom: -4px;
  }
  header .row-3 nav ul li.head p {
    text-transform: initial;
  }
}
@media screen and (max-width: 360px) {
  header .row-3 nav ul li.head {
    font-size: 12px;
  }
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 10px;
  }
  header .row-3 nav ul li.footer a {
    width: 48%;
    height: 40px;
    text-indent: initial;
    font-size: 14px;
    font-weight: bold;
    text-transform: initial;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    color: white;
    background-color: #9ebae0;
    border-radius: 5px;
  }
}
header .row-3 nav ul li a {
  text-transform: uppercase;
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li a {
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
  }
  header .row-3 nav ul li a:hover {
    color: initial;
  }
}
@media screen and (min-width: 812px) {
  header .row-3 nav ul li span:hover a:after {
    opacity: 1;
  }
  header .row-3 nav ul li span:hover + div {
    display: block !important;
  }
}
@media screen and (min-width: 812px) {
  header .row-3 nav ul li span.active {
    color: #9ebae0;
  }
  header .row-3 nav ul li span.active a:after {
    opacity: 1;
  }
}
header .row-3 nav ul li span a {
  padding-bottom: 2px;
  transition: all 300ms;
}
header .row-3 nav ul li span a.active {
  font-weight: bold;
  background-color: #efefef;
}
header .row-3 nav ul li span a.active:before {
  transform: rotate(-135deg);
}
header .row-3 nav ul li span a:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #9ebae0;
  margin-top: 1.5px;
  display: block;
  opacity: 0;
  transition: opacity 300ms;
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li span a:before {
    width: 7px;
    height: 7px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    content: "";
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    transform: rotate(45deg);
    transition: transform 300ms;
  }
}
header .row-3 nav ul li span + div {
  display: none;
  width: 770px;
  height: 280px;
  position: absolute;
  background-color: white;
  z-index: 3;
  padding: 10px;
}
@media screen and (min-width: 812px) {
  header .row-3 nav ul li span + div {
    box-shadow: 0px 4px 4px 1px #dcdcdc;
  }
}
header .row-3 nav ul li span + div:hover {
  display: block;
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li span + div {
    position: static;
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
  }
}
@media screen and (min-width: 812px) {
  header .row-3 nav ul li span + div div.list {
    width: 60%;
    float: left;
    padding-top: 20px;
    padding-left: 10%;
    font-size: 12px;
  }
  header .row-3 nav ul li span + div div.list ul {
    flex-direction: column;
  }
  header .row-3 nav ul li span + div div.list ul li {
    margin-bottom: 15px;
  }
  header .row-3 nav ul li span + div div.list ul li:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li span + div div.list {
    padding: 0;
    color: #8b8a8a;
    display: block;
    font-weight: 300;
  }
  header .row-3 nav ul li span + div div.list ul {
    width: 100% !important;
    overflow: initial !important;
  }
  header .row-3 nav ul li span + div div.list a {
    text-indent: 15px !important;
  }
}
@media screen and (min-width: 812px) {
  header .row-3 nav ul li span + div div.image {
    width: 40%;
    float: right;
  }
}
@media screen and (max-width: 812px) {
  header .row-3 nav ul li span + div div.image {
    display: none;
  }
}
header .row-3 nav span.btn-fechar {
  display: none;
}
@media screen and (max-width: 812px) {
  header .row-3 nav span.btn-fechar {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 0;
    width: 20%;
    transition: opacity 300ms;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 37px;
    background-color: #ededed;
    z-index: 12;
  }
}

@media screen and (max-width: 812px) {
  footer {
    padding-bottom: 50px;
  }
}
footer .container:nth-child(1) {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid black;
}
@media screen and (max-width: 812px) {
  footer .container:nth-child(1) {
    padding-top: 0;
  }
}
footer ul {
  font-weight: 300;
  font-size: 13px;
}
footer ul li {
  margin-bottom: 7px;
}
footer .ft-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (max-width: 812px) {
  footer .row-1 .menu-footer {
    margin-bottom: 25px;
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
  }
  footer .row-1 .menu-footer p {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
  }
  footer .row-1 .menu-footer p:before {
    content: "+";
    margin-right: 5px;
  }
  footer .row-1 .menu-footer p + ul {
    display: none;
    text-align: center;
    padding-bottom: 15px;
  }
}
footer .row-2 .redes {
  display: flex;
}
footer .row-2 .redes li {
  width: 30px;
  line-height: 30px;
  margin-right: 7px;
}
footer .row-2 .redes li svg {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 812px) {
  footer .row-2 .newsletter {
    margin-top: 40px;
  }
}
footer .row-2 .newsletter h3 {
  display: none;
}
footer .row-2 .newsletter fieldset label em,
footer .row-2 .newsletter fieldset label br {
  display: none;
}
footer .row-2 .newsletter fieldset p {
  font-size: 0;
}
@media screen and (max-width: 812px) {
  footer .row-2 .newsletter fieldset p {
    text-align: center;
  }
}
footer .row-2 .newsletter fieldset p:after {
  content: "Assine nossa newsletter :)";
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
footer .row-2 .newsletter fieldset input[type=text] {
  width: 100%;
  height: 30px;
  font-style: italic;
  text-indent: 2px;
  color: #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 15px;
  -webkit-appearance: none;
}
footer .row-2 .newsletter fieldset input[type=button] {
  width: 110px;
  height: 30px;
  float: right;
  border: 2px solid #9ebae0;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  background: white;
  color: #9ebae0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
}
footer .row-3 {
  margin-top: 40px;
}
@media screen and (max-width: 812px) {
  footer .row-3 {
    text-align: center;
  }
}
footer .row-3 .selos {
  display: flex;
}
@media screen and (max-width: 812px) {
  footer .row-3 .selos {
    justify-content: center;
  }
}
footer .row-3 .selos li {
  margin-right: 10px;
}
footer .row-3 .selos li:last-child {
  margin-right: 0;
}
footer .row-3 .bandeiras {
  display: flex;
}
@media screen and (max-width: 812px) {
  footer .row-3 .bandeiras {
    margin-bottom: 40px;
    justify-content: center;
  }
}
footer .row-3 .bandeiras li {
  width: 40px;
  height: 30px;
  margin-right: 7px;
}
footer .row-3 .bandeiras li svg {
  width: 100%;
  height: 100%;
}
footer .copyright {
  border-top: 1px solid #dcdcdc;
  margin-top: 20px;
  padding: 20px 0;
}
footer .copyright .container {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}
footer .copyright p {
  font-size: 13px;
  font-weight: 300;
}
@media screen and (max-width: 812px) {
  footer .copyright p {
    text-align: center;
    margin-bottom: 40px;
  }
}
footer .copyright .tecnologia {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 812px) {
  footer .copyright .tecnologia {
    justify-content: center;
  }
}
footer .copyright .tecnologia li:first-child {
  margin-right: 15px;
}

#cart-message li {
  display: none;
  width: 200px;
  height: auto;
  position: fixed;
  top: 70px;
  right: 370px;
  padding: 7px;
  z-index: 1;
  background-color: #ededed;
  border: 1px solid #5ec59b;
  border-radius: 3px;
  margin-bottom: 10px;
}
#cart-message li p {
  max-width: 85%;
}
#cart-message li span {
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px;
}
#cart-message li a {
  font-weight: bold;
  color: #5ec59b;
  display: block;
  margin-top: 10px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -4px, 0);
  }
  20%, 80% {
    transform: translate3d(0, 6px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(0, -8px, 0);
  }
  40%, 60% {
    transform: translate3d(0, 8px, 0);
  }
}
#cart-lateral {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ededed;
  width: 360px;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transition: all 300ms;
}
#cart-lateral.shake {
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
#cart-lateral.shake:before {
  opacity: 1;
}
#cart-lateral.active {
  z-index: 99;
}
@media screen and (min-width: 812px) {
  #cart-lateral.active {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 812px) {
  #cart-lateral.active {
    bottom: 0 !important;
  }
  #cart-lateral.active .header {
    background-color: initial;
    margin: 0 10px;
    padding: 0;
    color: #666;
    font-size: 18px;
  }
  #cart-lateral.active .header .cart-close {
    opacity: 1;
  }
}
@media screen and (max-width: 812px) {
  #cart-lateral {
    width: 100%;
    height: auto;
    top: initial;
    bottom: -555px;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: bottom 300ms;
  }
  #cart-lateral:before {
    content: "Produto Adicionado na sacola";
    display: block;
    position: absolute;
    top: -50px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 16px 0 #999;
    width: 80%;
    left: 50%;
    margin-left: -41%;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    opacity: 0;
    transition: all 0.3s 0.3s;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  #cart-lateral {
    bottom: -397px;
  }
}
#cart-lateral .header {
  margin: 0 10px;
}
@media screen and (max-width: 360px) {
  #cart-lateral .header {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 812px) {
  #cart-lateral .header {
    background-color: #9ebae0;
    margin: 0;
    padding: 10px 0;
    color: white;
    font-size: 18px;
  }
  #cart-lateral .header .cart-close {
    opacity: 0;
  }
}
#cart-lateral .header .title {
  letter-spacing: 1.5px;
  text-align: center;
  padding: 10px 0;
  transition: opacity 300ms;
}
#cart-lateral .header .title:after {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: inline-block;
  margin-right: 9px;
  transform: rotate(-135deg);
  top: 30px;
  position: absolute;
  left: 15px;
}
#cart-lateral .header .cart-close {
  background-color: white;
  color: #9ebae0;
  width: 20px;
  height: 20px;
  line-height: 17px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 10px;
}
#cart-lateral #message_frete {
  display: none;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid steelblue;
  background-color: #dfe9f5;
  text-transform: uppercase;
}
@media screen and (max-width: 812px) {
  #cart-lateral #message_frete {
    margin-bottom: 10px;
  }
}
#cart-lateral #message_frete.success {
  background: #edf3f1;
  color: green;
  border: 1px solid green;
}
#cart-lateral #message_frete.success .message_default {
  display: none;
}
#cart-lateral #message_frete.success .message_success {
  display: block !important;
}
#cart-lateral #message_frete p span {
  display: block;
}
#cart-lateral .content {
  margin: 30px 10px 0 10px;
  height: 355px;
  overflow-y: scroll;
  position: relative;
}
#cart-lateral .content.loading:before {
  opacity: 1;
  visibility: visible;
}
#cart-lateral .content:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/arquivos/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  z-index: 1;
  background-color: #ffffff61;
  transition: opacity 300ms;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 812px) {
  #cart-lateral .content {
    height: 75%;
  }
}
@media screen and (min-width: 812px) and (max-width: 1366px) {
  #cart-lateral .content {
    height: 352px !important;
  }
}
@media screen and (max-width: 360px) {
  #cart-lateral .content {
    margin: 0 10px 0 10px;
    height: 235px !important;
  }
}
#cart-lateral .content ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
}
#cart-lateral .content ul li .image {
  width: 25%;
  height: 110px;
}
#cart-lateral .content ul li .image img {
  width: 100%;
  height: 100%;
}
#cart-lateral .content ul li .text {
  width: 75%;
  height: 110px;
  padding-left: 5px;
}
#cart-lateral .content ul li .text > p {
  max-width: 90%;
  padding-top: 5px;
  font-size: 12px;
}
#cart-lateral .content ul li .ft {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#cart-lateral .content ul li .ft li {
  width: 50%;
}
#cart-lateral .content ul li .ft li .box-count {
  display: flex;
  justify-content: space-between;
}
#cart-lateral .content ul li .ft li .box-count .count {
  width: 30%;
  height: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  color: #5ec59b;
  font-size: 20px;
  position: relative;
  background-color: #ededed;
}
#cart-lateral .content ul li .ft li .box-count .count:after {
  content: "";
  width: 1px;
  height: 60%;
  background-color: #dbdbdb;
  display: block;
  position: absolute;
  top: 8px;
}
#cart-lateral .content ul li .ft li .box-count .count.count-down:after {
  right: 0;
}
#cart-lateral .content ul li .ft li .box-count .count.count-up:after {
  left: 0;
}
#cart-lateral .content ul li .ft li .box-count input[type=number] {
  width: 40%;
  height: 40px;
  background-color: #ededed;
  text-align: center;
  transition: border 300ms;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
#cart-lateral .content ul li .ft li .box-count input[type=number].active {
  border: 1px solid red;
}
#cart-lateral .content ul li .ft li .price {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #7899c1;
}
@media screen and (max-width: 360px) {
  #cart-lateral .content ul li .ft li .price {
    font-size: 16px !important;
  }
}
#cart-lateral .content ul li .removeUni {
  color: red;
  font-size: 13px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
#cart-lateral .no-estoque {
  position: fixed;
  width: 350px;
  bottom: 175px;
  margin-left: 10px;
  background-color: #f7d0d2;
  padding: 15px 10px;
  border-radius: 5px;
  color: #9C5954;
  font-weight: 500;
  margin-top: 15px;
  display: none;
}
@media screen and (max-width: 812px) {
  #cart-lateral .no-estoque {
    width: calc(100% - 20px);
  }
}
#cart-lateral .no-estoque.active {
  display: block;
}
#cart-lateral .no-estoque span {
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin-top: -15px;
}
#cart-lateral .footer {
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  background-color: white;
}
@media screen and (min-width: 812px) {
  #cart-lateral .footer {
    position: fixed;
    bottom: 0;
    width: 360px;
  }
}
@media screen and (max-width: 812px) {
  #cart-lateral .footer {
    margin-top: 8px;
  }
}
#cart-lateral .footer ul {
  margin: 10px 0;
}
@media screen and (max-width: 360px) {
  #cart-lateral .footer ul {
    margin-top: 0;
  }
}
#cart-lateral .footer ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#cart-lateral .footer ul li span.frete {
  text-align: right;
}
#cart-lateral .footer ul li span.frete a {
  text-decoration: underline;
  cursor: pointer;
}
#cart-lateral .footer ul li span.frete .box-1 div {
  display: none;
}
#cart-lateral .footer ul li span.frete .box-1 div form {
  display: flex;
  justify-content: flex-end;
}
#cart-lateral .footer ul li span.frete .box-1 div form input[type=text] {
  width: 80%;
  height: 26px;
  border: 1px solid #DB6885;
  text-indent: 10px;
  transition: border 300ms;
  border-radius: 0;
  -webkit-appearance: none;
}
#cart-lateral .footer ul li span.frete .box-1 div form input[type=text].active {
  border: 1px solid red;
}
#cart-lateral .footer ul li span.frete .box-1 div form input[type=submit] {
  width: 20%;
  height: 26px;
  background-color: #DB6885;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
#cart-lateral .footer ul li span.frete .box-2 {
  display: none;
}
#cart-lateral .footer ul li span.frete .box-2 .return-frete {
  color: #DB6885;
  margin-left: 5px;
  cursor: pointer;
}
#cart-lateral .footer ul li span.total-price {
  color: #9ebae0;
  font-weight: bold;
}
#cart-lateral .btn-finalizar {
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: block;
  background-color: #5ec59b;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.bread-crumb ul {
  display: flex;
  text-transform: uppercase;
  font-size: 10px;
}
.bread-crumb ul li:after {
  content: "›";
  margin: 0 15px;
  font-size: 14px;
}
.bread-crumb ul li:last-child:after {
  opacity: 0;
}

.produto main {
  margin-top: 20px;
  position: relative;
}
.produto main .row-1 {
  padding-bottom: 80px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dcdcdc;
}
.produto main .row-1 .bread-crumb {
  position: relative;
  z-index: 2;
  padding-left: 15px;
  padding-top: 3px;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .bread-crumb {
    display: none;
  }
}
.produto main .row-1 .apresentacao {
  margin-top: -24px;
  overflow: hidden;
}
.produto main .row-1 .apresentacao #show {
  position: relative;
}
.produto main .row-1 .apresentacao #show .image-zoom:hover {
  cursor: crosshair;
}
.produto main .row-1 .apresentacao #show #image-main {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .apresentacao #show #image-main {
    display: none;
  }
}
.produto main .row-1 .apresentacao #show .thumbs {
  position: absolute;
  top: 60px;
  width: 20%;
  left: 30px;
  z-index: 2;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .apresentacao #show .thumbs {
    position: static;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: height 300ms;
  }
}
.produto main .row-1 .apresentacao #show .thumbs li {
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px -2px #dcdcdc;
}
.produto main .row-1 .apresentacao #show .thumbs li img {
  width: 100%;
  height: auto;
}
.produto main .row-1 .productName {
  font-size: 30px;
  font-weight: 400;
  color: #9ebae0;
  line-height: 30px;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .productName {
    padding-top: 10px;
  }
}
.produto main .row-1 .productReference {
  font-size: 12px;
  margin-top: 10px;
}
.produto main .row-1 .productReference:before {
  content: "Código";
  margin-right: 5px;
}
.produto main .row-1 .selection_prod {
  padding: 25px 0;
  margin: 25px 0 25px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
@media screen and (min-width: 812px) and (max-width: 1400px) {
  .produto main .row-1 .selection_prod {
    padding: 15px 0;
    margin: 15px 0 15px;
  }
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic {
  margin-bottom: 15px;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Tamanho li.specification, .produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.specification {
  font-size: 0;
  margin-bottom: 10px;
  display: block;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Tamanho li.specification:after, .produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.specification:after {
  content: "Escolha o tamanho";
  font-size: 14px;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Tamanho li.skuList span, .produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.skuList span {
  display: flex;
  flex-wrap: wrap;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Tamanho li.skuList span input[type=radio], .produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.skuList span input[type=radio] {
  display: none;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Tamanho li.skuList span label, .produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.skuList span label {
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 300ms;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Tamanho li.skuList span label.sku-picked, .produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.skuList span label.sku-picked {
  font-weight: bold;
  background-color: #ededed;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Tamanho li.skuList span label.item_unavailable, .produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.skuList span label.item_unavailable {
  opacity: 0.3;
  pointer-events: none;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.specification {
  font-size: 0;
  margin-bottom: 10px;
  display: block;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.specification:after {
  content: "Escolha a cor";
  font-size: 14px;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.Cor li.skuList span label {
  width: auto;
  padding: 0 8px;
}
.produto main .row-1 .selection_prod .sku-selector-container ul.topic.numopt-1 {
  display: none !important;
}
.produto main .row-1 .selection_prod .options .sizebay-container {
  width: 100%;
}
.produto main .row-1 .selection_prod .options .sizebay-container button {
  width: 47%;
  height: 50px;
  border-radius: 3px;
  padding: 0 !important;
  min-width: initial !important;
  max-width: initial !important;
  background-color: #e3ebf4 !important;
  border: 1px solid #9dbbde !important;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .selection_prod .options .sizebay-container button {
    font-size: 19px !important;
  }
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .selection_prod .options .sizebay-container button#szb_fitting_room:before {
    content: "a";
    font-family: untitled-font-2;
    text-transform: none;
    color: #395779 !important;
  }
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .selection_prod .options .sizebay-container button#szb_size_chart:before {
    content: "b";
    font-family: untitled-font-2;
    text-transform: none;
    color: #395779 !important;
  }
}
.produto main .row-1 .selection_prod .options .sizebay-container button > span {
  width: 100%;
  display: block;
  left: 0 !important;
  color: #395779;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .selection_prod .options .sizebay-container button > span {
    font-size: 13px !important;
  }
}
.produto main .row-1 .selection_prod .options .sizebay-container button > span:before {
  position: static !important;
  display: block;
  margin: 0 auto 3px;
  color: #395779 !important;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .info_prod:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .info_prod .price_prod {
    width: 60%;
    float: left;
  }
}
.produto main .row-1 .info_prod .price_prod .valor-de {
  font-style: normal;
  font-size: 12px;
  text-decoration: line-through;
  font-weight: 300;
}
.produto main .row-1 .info_prod .price_prod .valor-de strong {
  font-weight: 300;
}
.produto main .row-1 .info_prod .price_prod .valor-por {
  display: none !important;
  font-style: normal;
  font-size: 14px;
}
.produto main .row-1 .info_prod .price_prod .valor-por strong {
  font-size: 22px;
  font-weight: bold;
  color: #9ebae0;
}
.produto main .row-1 .info_prod .price_prod .valor-dividido:before {
  content: "Por";
  font-size: 14px;
  float: left;
  font-style: normal;
  margin-right: 5px;
  padding-top: 8px;
}
@media screen and (max-width: 360px) {
  .produto main .row-1 .info_prod .price_prod .valor-dividido:before {
    padding-top: 0;
  }
}
.produto main .row-1 .info_prod .price_prod .valor-dividido span {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  color: #9ebae0;
}
@media screen and (max-width: 360px) {
  .produto main .row-1 .info_prod .price_prod .valor-dividido span {
    font-size: 14px;
  }
}
.produto main .row-1 .info_prod .price_prod .valor-dividido span span {
  display: flex;
  font-style: normal;
  font-size: 0;
}
.produto main .row-1 .info_prod .price_prod .valor-dividido span span label {
  display: flex;
  font-size: 22px;
}
@media screen and (max-width: 360px) {
  .produto main .row-1 .info_prod .price_prod .valor-dividido span span label {
    font-size: 14px;
  }
}
.produto main .row-1 .info_prod .price_prod .valor-dividido span span label .x {
  font-size: 22px;
}
@media screen and (max-width: 360px) {
  .produto main .row-1 .info_prod .price_prod .valor-dividido span span label .x {
    font-size: 14px;
  }
}
.produto main .row-1 .info_prod .price_prod .valor-dividido span strong {
  font-style: normal;
  margin-left: 3px;
}
.produto main .row-1 .info_prod .price_prod .valor-dividido span strong label {
  font-weight: bold;
}
.produto main .row-1 .info_prod .price_prod .preco-a-vista {
  color: #919191;
  font-weight: 400;
}
.produto main .row-1 .info_prod .price_prod .preco-a-vista strong {
  color: #95adcb;
  font-weight: 400;
  margin-left: 3px;
}
.produto main .row-1 .info_prod .price_prod .economia-de {
  display: none !important;
}
.produto main .row-1 .info_prod .cta_prod {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #dcdcdc;
}
@media screen and (min-width: 812px) and (max-width: 1400px) {
  .produto main .row-1 .info_prod .cta_prod {
    padding-top: 15px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .info_prod .cta_prod {
    width: 40%;
    float: right;
    margin: 0;
    padding: 0;
    border: none;
  }
}
.produto main .row-1 .info_prod .cta_prod .qty p {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .info_prod .cta_prod .qty p {
    width: 100%;
    margin: 0 0 5px 0;
    height: auto;
    line-height: initial;
    text-align: center;
  }
}
.produto main .row-1 .info_prod .cta_prod .qty div {
  display: flex;
  width: 130px;
  height: 40px;
  border-radius: 3px;
  background-color: #ededed;
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .info_prod .cta_prod .qty div {
    width: 120px;
  }
}
@media screen and (max-width: 812px) {
  .produto main .row-1 .info_prod .cta_prod .qty div {
    margin: 0 auto;
  }
}
.produto main .row-1 .info_prod .cta_prod .qty div .count {
  width: 30%;
  height: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  color: #5ec59b;
  font-size: 20px;
  position: relative;
}
.produto main .row-1 .info_prod .cta_prod .qty div .count:after {
  content: "";
  width: 1px;
  height: 60%;
  background-color: #dbdbdb;
  display: block;
  position: absolute;
  top: 8px;
}
.produto main .row-1 .info_prod .cta_prod .qty div .count.count-menos:after {
  right: 0;
}
.produto main .row-1 .info_prod .cta_prod .qty div .count.count-mais:after {
  left: 0;
}
.produto main .row-1 .info_prod .cta_prod .qty div input[type=number] {
  width: 40%;
  background-color: #ededed;
  text-align: center;
}
.produto main .row-1 .buy_in_page {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 55px;
  line-height: 55px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #5ec59b;
  color: #fff;
  border-radius: 3px;
}
.produto main .row-1 .no-estoque {
  background-color: #f7d0d2;
  padding: 15px 10px;
  border-radius: 5px;
  color: #9C5954;
  font-weight: 500;
  margin-top: 15px;
  display: none;
}
.produto main .row-1 .no-estoque.active {
  display: block;
}
.produto main .row-1 .no-estoque span {
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin-top: -15px;
}
.produto main .row-1 .box_accordion {
  border-top: 1px solid #dcdcdc;
  margin-top: 25px;
}
.produto main .row-1 .box_accordion .accordion_prod {
  border-bottom: 1px solid #dcdcdc;
}
.produto main .row-1 .box_accordion .accordion_prod p {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
}
.produto main .row-1 .box_accordion .accordion_prod p i {
  width: 7px;
  margin-right: 5px;
  padding-top: 25px;
}
.produto main .row-1 .box_accordion .accordion_prod p i.active span:first-child {
  transform: rotate(90deg);
  position: relative;
}
.produto main .row-1 .box_accordion .accordion_prod p i span {
  width: 7px;
  height: 1px;
  display: block;
  background: black;
  margin-bottom: 3px;
  transition: transform 300ms;
}
.produto main .row-1 .box_accordion .accordion_prod p i span:last-child {
  margin-top: -4px;
}
.produto main .row-1 .box_accordion .accordion_prod div {
  color: #979797;
  padding-bottom: 10px;
  display: none;
}
.produto main .row-1 .box_accordion .accordion_prod div .productDescription {
  display: block;
}
.produto main .row-1 .box_accordion .accordion_prod div table {
  border: 1px solid #9ebae0;
  font-size: 12px;
}
.produto main .row-1 .box_accordion .accordion_prod div table tr {
  height: 23px;
  border-top: 1px solid #9ebae0;
  text-align: center;
}
.produto main .row-2 {
  margin-bottom: 50px;
}
.produto main .row-2 .prateleira h2 {
  text-align: center;
}
.produto main .row-2 .prateleira ul {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 812px) {
  .produto main .row-2 .prateleira ul {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
}
.produto main .row-2 .prateleira ul li {
  width: calc(100% / 4 - 5px);
  margin: 0 2.5px;
}

.departamento main .banner_depto .box-banner {
  overflow: hidden;
}
@media screen and (min-width: 812px) {
  .departamento main .banner_depto .box-banner img {
    position: relative;
    left: 50%;
    margin-left: -960px;
  }
}
@media screen and (max-width: 812px) {
  .departamento main .banner_depto .box-banner img {
    width: 100%;
    height: auto;
  }
}
.departamento main .titulo-sessao {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.departamento main .description_depto {
  color: #acaaaa;
  margin-bottom: 30px;
  line-height: 13px;
  font-size: 12px;
  font-weight: 400;
}
.departamento main .bt-refinar-container {
  display: none;
}
.departamento main .busca-vazio {
  text-align: center;
  color: #9ebae0;
  font-weight: bold;
}
@media screen and (min-width: 812px) {
  .departamento main .busca-vazio {
    font-size: 18px;
  }
}
.departamento main .menu-departamento h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 812px) {
  .departamento main .menu-departamento h3 {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
}
.departamento main .menu-departamento h3 + ul {
  display: none;
}
@media screen and (min-width: 812px) {
  .departamento main .main {
    margin-top: -29px;
  }
}
.departamento main .main .sub {
  float: left;
}
@media screen and (max-width: 812px) {
  .departamento main .main .sub {
    width: 46%;
  }
}
@media screen and (max-width: 812px) {
  .departamento main .main .open_filtro {
    width: 25%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    float: right;
    color: #9ebae0;
    font-size: 14px;
    line-height: 23px;
  }
  .departamento main .main .open_filtro:before {
    width: 15px;
    height: 11px;
    background-image: url(/arquivos/ico-filtrar.png);
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    margin-right: 5px;
  }
}
@media screen and (max-width: 360px) {
  .departamento main .main .open_filtro {
    font-size: 12px !important;
  }
}
.departamento main .main .searchResultsTime {
  width: 100px;
  float: left;
  margin-left: calc(100% - 362px);
  border-right: 1px solid #dcdcdc;
  margin-right: 10px;
}
@media screen and (max-width: 812px) {
  .departamento main .main .searchResultsTime {
    width: 27%;
    margin-left: 0;
    margin-right: 0;
    line-height: 23px;
  }
}
@media screen and (max-width: 360px) {
  .departamento main .main .searchResultsTime {
    font-size: 12px !important;
  }
}
.departamento main .main .searchResultsTime .resultado-busca-termo,
.departamento main .main .searchResultsTime .resultado-busca-tempo {
  display: none;
}
.departamento main .main .searchResultsTime .resultado-busca-numero .label {
  display: none;
}
.departamento main .main .searchResultsTime .resultado-busca-numero .value {
  font-weight: bold;
}
.departamento main .main .searchResultsTime .resultado-busca-numero .value:after {
  font-weight: 400;
  content: "Produtos";
  margin-left: 5px;
}
.departamento main .main .resultado-busca-filtro .orderBy {
  position: relative;
  z-index: 1;
}
.departamento main .main .resultado-busca-filtro .orderBy label {
  float: left;
  margin-right: 7px;
}
@media screen and (max-width: 812px) {
  .departamento main .main .resultado-busca-filtro .orderBy label {
    display: none;
  }
}
.departamento main .main .resultado-busca-filtro .orderBy select {
  float: left;
  border-bottom: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 5px;
  -webkit-appearance: menulist-button;
  background-color: white;
}
@media screen and (max-width: 812px) {
  .departamento main .main .resultado-busca-filtro .orderBy select {
    border: none;
    -webkit-appearance: none;
    font-weight: 400;
    padding: 0;
    padding-bottom: 0;
    background-color: white;
    background-image: url(/arquivos/ico-orderby.png);
    background-position: 3px 4px;
    background-repeat: no-repeat;
    color: #666;
    font-size: 14px;
    border-right: 1px solid #dcdcdc;
    width: 100%;
    line-height: 23px;
    text-indent: 22px;
  }
}
@media screen and (max-width: 360px) {
  .departamento main .main .resultado-busca-filtro .orderBy select {
    font-size: 12px !important;
  }
}
.departamento main .main .resultado-busca-filtro .filterBy,
.departamento main .main .resultado-busca-filtro .compare {
  display: none;
}
.departamento main .main .vitrine {
  clear: both;
  padding-top: 30px;
}
@media screen and (min-width: 812px) {
  .departamento main .main .vitrine .prateleira {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
}
.departamento main .main .vitrine .prateleira ul {
  display: flex;
  flex-wrap: wrap;
}
.departamento main .main .vitrine .prateleira ul li {
  margin: 0 2.5px 50px 2.5px;
  width: calc(100% / 4 - 5px);
}
@media screen and (max-width: 812px) {
  .departamento main .main .vitrine .prateleira ul li {
    width: 100%;
    margin: 0 0 30px 0;
  }
}
.departamento main .main .vitrine + .searchResultsTime {
  display: none;
}
.departamento main .main .vitrine + .searchResultsTime + .sub {
  display: none;
}
.departamento main .main .vitrine + .searchResultsTime + .sub + .open_filtro {
  display: none;
}
.departamento main .main .pager {
  display: none !important;
}
.departamento main .menu-navegue {
  display: none;
}
.departamento main .search-multiple-navigator {
  display: flex !important;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 812px) {
  .departamento main .search-multiple-navigator {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 25px 15px 0 15px;
    flex-direction: column;
    transition: top 300ms;
    z-index: 12;
    max-height: 80%;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .departamento main .search-multiple-navigator.active {
    top: 0;
  }
}
@media screen and (max-width: 812px) {
  .departamento main .search-multiple-navigator .search-multiple-navigator-footer {
    margin-bottom: 15px;
    margin-top: 35px;
  }
  .departamento main .search-multiple-navigator .search-multiple-navigator-footer li {
    float: left;
  }
  .departamento main .search-multiple-navigator .search-multiple-navigator-footer li:first-child {
    width: 40%;
  }
  .departamento main .search-multiple-navigator .search-multiple-navigator-footer li:last-child {
    width: 60%;
  }
  .departamento main .search-multiple-navigator .search-multiple-navigator-footer li .btn_cancelar {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    border: 1px solid #666;
    border-radius: 3px;
  }
  .departamento main .search-multiple-navigator .search-multiple-navigator-footer li .btn_filtrar {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #5ec59b;
    text-align: center;
    color: white;
    display: block;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.departamento main .search-multiple-navigator h3,
.departamento main .search-multiple-navigator h4,
.departamento main .search-multiple-navigator .bt-refinar {
  display: none;
}
.departamento main .search-multiple-navigator fieldset {
  width: auto;
  margin-right: 3%;
  position: relative;
}
.departamento main .search-multiple-navigator fieldset.filtro_estilo, .departamento main .search-multiple-navigator fieldset.refino-marca {
  display: none !important;
  visibility: hidden;
  opacity: 0;
}
@media screen and (max-width: 812px) {
  .departamento main .search-multiple-navigator fieldset {
    width: 100%;
    margin-right: 0;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 812px) {
  .departamento main .search-multiple-navigator fieldset:hover div {
    display: block;
  }
}
.departamento main .search-multiple-navigator fieldset h5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
}
.departamento main .search-multiple-navigator fieldset h5.active:after {
  margin-top: 11px;
  transform: rotate(225deg);
}
.departamento main .search-multiple-navigator fieldset h5:after {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  transition: all 300ms;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 7px;
  margin-left: 10px;
  transform: rotate(45deg);
}
.departamento main .search-multiple-navigator fieldset div {
  width: 350px;
  max-height: 200px;
  overflow-y: scroll !important;
  position: absolute;
  z-index: 1;
  background: white;
  padding: 10px 10px 0 10px;
  box-shadow: 0px 0px 8px 0px #dcdcdc;
  display: none;
}
@media screen and (max-width: 812px) {
  .departamento main .search-multiple-navigator fieldset div {
    width: 100%;
    position: static;
    box-shadow: none;
  }
}
.departamento main .search-multiple-navigator fieldset div .ver-filtros {
  display: block;
  font-size: 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9ebae0;
  color: white;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.departamento main .search-multiple-navigator fieldset div .ver-filtros:after {
  content: "Limpar filtros";
  font-size: 14px;
}
.departamento main .search-multiple-navigator fieldset div:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -10px;
  left: 20px;
}
.departamento main .search-multiple-navigator fieldset div label {
  position: relative;
  padding: 5px;
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.departamento main .search-multiple-navigator fieldset div label.sr_selected {
  color: #fff;
  z-index: 1;
}
.departamento main .search-multiple-navigator fieldset div label input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-appearance: none;
  transition: all 300ms;
  cursor: pointer;
}
.departamento main .search-multiple-navigator fieldset div label input:checked {
  background-color: #9ebae0;
  z-index: -1;
}
.departamento main .search-single-navigator {
  display: none !important;
}
.departamento main .search-single-navigator h3 {
  display: none;
}
.departamento main .search-single-navigator h4 {
  font-size: 0;
}
.departamento main .search-single-navigator h4:before {
  content: "Categorias";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
}
.departamento main .search-single-navigator h4 + ul {
  width: 350px;
  max-height: 200px;
  overflow-y: scroll !important;
  position: absolute;
  z-index: 1;
  background: #fff;
  padding: 10px 10px 0 10px;
  box-shadow: 0 0 8px 0 #dcdcdc;
  display: flex;
  flex-wrap: wrap;
}
.departamento main .search-single-navigator h4 + ul li {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  margin: 0 5px 10px;
  cursor: pointer;
}
.departamento main .search-single-navigator h5 {
  display: none;
}
.departamento main .search-single-navigator h5 + ul {
  display: none;
}
.departamento .btn-load-more {
  width: 200px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #5ec59b;
  cursor: pointer;
  text-transform: uppercase;
}

#returnToTop {
  width: 130px;
  height: 40px;
  position: fixed;
  right: 50px;
  bottom: 25px;
  z-index: 2;
  cursor: pointer;
}
@media screen and (max-width: 812px) {
  #returnToTop {
    width: 50px;
    bottom: 85px;
    right: 15px;
  }
}
#returnToTop .ico {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(/arquivos/totop.png);
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}
#returnToTop p {
  float: left;
  line-height: 18px;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 7px;
}
@media screen and (max-width: 812px) {
  #returnToTop p {
    display: none;
  }
}

.account #account-content .profile-detail-display,
.account #account-content .address-display-block {
  line-height: 25px;
}
.account #account-content .profile-detail-display h4,
.account #account-content .address-display-block h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.account #account-content .profile-detail-display .new-address-link,
.account #account-content .profile-detail-display .edit-profile-link,
.account #account-content .address-display-block .new-address-link,
.account #account-content .address-display-block .edit-profile-link {
  font-weight: bold;
  color: #9ebae0;
}
.account #account-content .profile-detail-display .address-display-unit,
.account #account-content .address-display-block .address-display-unit {
  margin-left: 15px;
}

.orders img {
  max-width: initial;
}

.slick-arrow {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  font-size: 0;
  background-image: url(/arquivos/ico-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  position: absolute;
  top: 50%;
  margin-top: -25.5px;
  z-index: 1;
}
.slick-arrow.slick-prev {
  left: 0;
  transform: rotate(180deg);
  background-position: 25px center;
}
.slick-arrow.slick-next {
  right: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
  top: -55px;
  z-index: 1;
}
@media screen and (max-width: 812px) {
  .slick-dots {
    position: static;
  }
  .slick-dots li button {
    background-color: #dbdbdb !important;
  }
}
.slick-dots li.slick-active button {
  width: 30px;
}
.slick-dots li button {
  font-size: 0;
  background-color: white;
  width: 10px;
  height: 10px;
  transition: 300ms width;
  margin: 0 2px;
  border-radius: 50px;
}

.collection_1 .slick-arrow,
.collection_2 .slick-arrow,
.collection_3 .slick-arrow,
.produto .prateleira .slick-arrow {
  width: 40px;
  height: 40px;
  top: 40%;
  background-size: 10px;
}
.collection_1 .slick-arrow.slick-prev,
.collection_2 .slick-arrow.slick-prev,
.collection_3 .slick-arrow.slick-prev,
.produto .prateleira .slick-arrow.slick-prev {
  background-position: 17px center;
  left: 10px;
}
.collection_1 .slick-arrow.slick-next,
.collection_2 .slick-arrow.slick-next,
.collection_3 .slick-arrow.slick-next,
.produto .prateleira .slick-arrow.slick-next {
  right: 10px;
}

.prateleira > h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}
.prateleira ul li article h3 {
  height: 50px;
  line-height: 19px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 15px;
  display: block;
}
.prateleira ul li article .price {
  text-align: center;
  display: block;
}
.prateleira ul li article .price .de {
  height: 17px;
  font-size: 12px;
  text-decoration: line-through;
}
.prateleira ul li article .price .por {
  font-size: 18px;
  font-weight: 400;
  color: #9ebae0;
  display: block;
}
.prateleira ul li article .price .parcelado {
  font-size: 16px;
  font-weight: 400;
}
.prateleira ul li article .discount {
  display: block !important;
  text-align: center;
}
.prateleira ul li article .discount p {
  display: none;
}
.prateleira ul li article .discount p.calcinhas-l3---3-por-r-9900 {
  display: inline-block !important;
  font-size: 0;
  background-image: url(/arquivos/anyany_selo_off_gif.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 168px;
  height: 26px;
}
.prateleira ul li article figure img {
  width: 100%;
  height: auto;
}
.prateleira ul li article .buy-button-normal {
  display: none;
}

.institucional h1 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 15px 20px 15px;
  color: #9ebae0;
}
.institucional .content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.institucional .content .menu {
  width: 25%;
}
@media screen and (max-width: 812px) {
  .institucional .content .menu {
    width: 100%;
  }
}
.institucional .content .menu h2 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.institucional .content .menu nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 1px solid #9ebae0;
  margin: 0 0 20px;
}
.institucional .content .menu nav a {
  font-weight: 300;
  font-size: 13px;
  margin: 5px 0;
  color: #DB6885;
  text-transform: capitalize;
}
.institucional .content .menu nav a:before {
  content: "- ";
}
.institucional .content .text {
  width: 75%;
}
@media screen and (max-width: 812px) {
  .institucional .content .text {
    width: 100%;
  }
}
@media screen and (min-width: 812px) {
  .institucional .content .text {
    padding-left: 30px;
  }
}
.institucional .content .text h2 {
  font-size: 20px;
  font-weight: 500;
}
.institucional .content .text p {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.institucional .content .text ul {
  display: flex;
  flex-direction: column;
}
.institucional .content .text ul.search-results {
  flex-direction: row;
}
.institucional .content .text ul li {
  margin-bottom: 1rem;
}

body.multimarcas main {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
body.multimarcas .bold {
  font-weight: bold;
}
body.multimarcas .content {
  background: #f8f8f8;
}
@media screen and (max-width: 490px) {
  body.multimarcas .content {
    display: none;
  }
}
body.multimarcas .content .menu {
  margin-top: 20px;
}
body.multimarcas .content .menu #institucional-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.multimarcas .content .menu a {
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}
body.multimarcas .content .menu a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 490px) {
  body.multimarcas .img-multimarca {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }
}
body.multimarcas .img-multimarca img {
  width: 780px;
  height: 1280px;
  margin-left: -390px;
}
body.multimarcas .img-multimarca img.img-mobile {
  display: none;
}
@media screen and (max-width: 490px) {
  body.multimarcas .img-multimarca img.img-mobile {
    width: 100%;
    height: 100%;
    margin-left: 0;
    display: block;
  }
}
@media screen and (max-width: 769px) {
  body.multimarcas .img-multimarca img {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 490px) {
  body.multimarcas .img-multimarca img {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  body.multimarcas .border-mob {
    border: 1px solid #f6f9fc;
    -webkit-box-shadow: 0px 6px 43px -23px #f7fafc;
    -moz-box-shadow: 0px 6px 43px -23px #f7fafc;
    box-shadow: 0px 6px 43px -23px #f7fafc;
    padding-bottom: 65px;
  }
}
@media screen and (max-width: 490px) {
  body.multimarcas .border-mob {
    margin-top: -170px;
    background: #fff;
  }
}
body.multimarcas h2 {
  font-weight: bold;
  font-size: 30px;
  color: #3f4040;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 40px;
}
@media screen and (max-width: 490px) {
  body.multimarcas h2 {
    padding: 25px 15px 0px;
    margin-bottom: 65px;
    margin-top: 0;
  }
}
body.multimarcas .text {
  padding: 50px 35px 50px;
  border: 1px solid #f6f9fc;
  -webkit-box-shadow: 0px 6px 43px -23px #dcdcdc;
  -moz-box-shadow: 0px 6px 43px -23px #dcdcdc;
  box-shadow: 0px 6px 43px -23px #dcdcdc;
}
@media screen and (max-width: 490px) {
  body.multimarcas .text {
    padding: 0 15px 50px;
    border: 0;
  }
}
body.multimarcas .text a {
  color: #3f4040;
  transform: 300ms all;
}
body.multimarcas .text a.hover {
  opacity: 0.6;
}
body.multimarcas .text p {
  margin-bottom: 20px;
}
@media screen and (max-width: 490px) {
  body.multimarcas form {
    padding: 0 15px;
  }
}
body.multimarcas form .text-form {
  margin: 20px 0 35px;
}
@media screen and (max-width: 490px) {
  body.multimarcas form .text-form {
    margin: 35px 0 35px;
  }
}
body.multimarcas form .inputs p {
  display: inline-block;
  width: calc((100% / 3) - 24px);
  margin-right: 30px;
  margin-bottom: 10px;
  vertical-align: top;
  height: 90px;
}
@media screen and (max-width: 768px) {
  body.multimarcas form .inputs p {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
}
body.multimarcas form .inputs p.mg-none {
  margin-right: 0;
}
body.multimarcas form .inputs p .input-error {
  font-size: 12px;
  text-transform: capitalize;
  color: red;
}
body.multimarcas form label {
  display: block;
}
body.multimarcas form input {
  width: 100%;
  height: 50px;
  border: 1px solid #cbcbcb;
  padding-left: 10px;
}
body.multimarcas form input.error {
  border: 1px solid red;
}
body.multimarcas form .last-inputs label {
  height: 40px;
}
body.multimarcas form .last-inputs label.padding {
  padding-top: 20px;
}
body.multimarcas form .last-inputs p {
  vertical-align: top;
  margin-bottom: 65px;
  width: 35.3%;
}
@media screen and (max-width: 769px) {
  body.multimarcas form .last-inputs p {
    width: 35%;
  }
}
@media screen and (max-width: 490px) {
  body.multimarcas form .last-inputs p {
    width: 100%;
    margin-bottom: 25px;
  }
}
body.multimarcas form .last-inputs p:nth-child(1) {
  width: 60%;
}
@media screen and (max-width: 490px) {
  body.multimarcas form .last-inputs p:nth-child(1) {
    width: 100%;
  }
}
body.multimarcas form .last-inputs textarea {
  border: 1px solid #cbcbcb;
  width: 100%;
  height: 105px;
  padding-left: 10px;
}
body.multimarcas form .last-inputs textarea.error {
  border: 1px solid red;
}
body.multimarcas form input[type=submit] {
  width: 270px;
  height: 50px;
  background-color: #85c39c;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  float: right;
  margin-bottom: 35px;
  padding-left: 0px;
}
@media screen and (max-width: 490px) {
  body.multimarcas form input[type=submit] {
    width: 100%;
    height: 70px;
  }
}
body.multimarcas #success {
  opacity: 0;
  display: none;
  transition: all 300ms;
  text-align: center;
  margin-top: 100px;
}
@media screen and (max-widht: 769px) {
  body.multimarcas #success {
    margin-bottom: 100px;
    margin-top: 50px;
  }
}
body.multimarcas #success.active {
  display: block;
  opacity: 1;
}
@media screen and (min-width: 812px) {
  body.multimarcas footer {
    margin-top: -34px;
  }
}

.zoomPad {
  position: relative;
  float: left;
  cursor: crosshair;
}

.zoomOverlay,
.zoomPup,
.zoomWindow {
  position: absolute;
}

.zoomPup {
  overflow: hidden;
  background-color: #FFF;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border: 0;
  z-index: 1;
  cursor: crosshair;
}

.zoomOverlay {
  left: 0;
  top: 0;
  background: #FFF;
  width: 100%;
  height: 100%;
  display: none;
}

.zoomPreload {
  top: 0 !important;
  left: 0 !important;
  opacity: 0.8;
  transition: all 300ms;
  filter: alpha(opacity=80);
  background-color: #fff;
  background-image: url(/arquivos/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.zoomWindow {
  z-index: 1 !important;
  height: 1102px !important;
  left: 0 !important;
  top: 40px;
  background: #FFF;
  height: auto;
}

.zoomWrapper {
  height: 1102px !important;
  position: relative;
  border: 0;
}

.zoomWrapperImage {
  width: 825px !important;
  height: 1102px !important;
  display: block;
  position: relative;
  overflow: hidden;
}

.zoomWrapperImage img {
  border: 0;
  display: block;
  position: absolute;
  width: 2540px;
  height: 3460px;
}

.zoomIframe {
  z-index: -1;
  filter: alpha(opacity=0);
  -moz-opacity: 0.8;
  opacity: 0.8;
  position: absolute;
  display: block;
}

/*TEMPLATE 2*/
.produto.produto_2 {
  /*AJUSTE REFERENTE AO ZOOM - APENAS DESKTOP*/
  /*AJUSTE REFERENTE AO ZOOM - APENAS DESKTOP*/
}
@media screen and (min-width: 812px) {
  .produto.produto_2 .apresentacao {
    margin-top: 0 !important;
  }
  .produto.produto_2 .apresentacao #show {
    display: flex;
  }
  .produto.produto_2 .apresentacao #show #include {
    width: 85%;
    order: 2;
  }
  .produto.produto_2 .apresentacao #show .thumbs {
    width: 15% !important;
    position: static !important;
    padding: 20px 5px 5px 5px;
  }
}
@media screen and (min-width: 812px) and (min-width: 812px) and (max-width: 1400px) {
  .produto.produto_2 .apresentacao #show .thumbs {
    width: 12% !important;
  }
}
@media screen and (min-width: 812px) {
  .produto.produto_2 .apresentacao .zoomPad {
    width: 100%;
  }
}
@media screen and (min-width: 812px) {
  .produto.produto_2 .apresentacao #image-main {
    width: 500px !important;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (min-width: 812px) {
  .produto.produto_2 .apresentacao .zoomWindow {
    height: 665px !important;
    margin-left: 110px;
  }
  .produto.produto_2 .apresentacao .zoomWindow .zoomWrapper {
    width: 500px !important;
    height: 665px !important;
    margin: 0 auto;
  }
  .produto.produto_2 .apresentacao .zoomWindow .zoomWrapper .zoomWrapperImage {
    width: 500px !important;
    height: 665px !important;
  }
}

/*FIM - TEMPLATE 2*/

/*# sourceMappingURL=style.css.map */
